<div class="filters">
    <div class="filter">
        <!-- <label for="user">Invoice Number</label>
        <select id="invoiceNumber" [(ngModel)]="selectedInvoice" (change)="getCollectionList()">
            <option *ngFor="let invoice of invoiceList" [value]="invoice.id">{{ invoice.invoiceNumber }}</option>
        </select> -->
        <nz-select [(ngModel)]="selectedInvoice" nzShowSearch nzDropdownClassName="select-dropdown" nzPlaceHolder="Select Invoice Number"
            (ngModelChange)="getCollectionList()">
            <nz-option [nzValue]="data.id" *ngFor="let data of invoiceList"
                nzLabel={{data.invoiceNumber}}></nz-option>
        </nz-select>
    </div>
</div>

<table class="table-one mt-25">
    <thead>
        <tr>
            <th class="s-col" scope="col">#</th>
            <th scope="col">Invoice Number</th>
            <th scope="col">Collection Amount</th>
            <th scope="col">Payment Method</th>
            <th scope="col">Collection Time</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of collectionHistory; let i= index">
            <td><span class="res-head">Id:</span>{{i+1}}</td>
            <td><span class="res-head">Invoice Number:</span>{{item.invoiceNumber}}</td>
            <td><span class="res-head">Collection Amount:</span>{{item.collectionAmount}}</td>
            <td><span class="res-head">Payment Method:</span>{{item.paymentMethod}}</td>
            <td><span class="res-head">Collection Time:</span>{{item.collectionTime | date: 'medium'}}</td>
        </tr>
    </tbody>
</table>