<div class="page-header">
    <div class="page-header__inner">
        <div class="search-area">
            <input type="text" class="form-control" placeholder="search...">
            <button><img src="assets/images/icons/search.svg" alt=""></button>
        </div>
        <button class="main-btn" (click)="openRoleModal()">Create Product Type</button>
    </div>
</div>

<div class="pt-4"></div>
<table class="table-one">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Creation Time</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of productTypes; let i= index">
            <td><span class="res-head">Id:</span>{{i+1}}</td>
            <td><span class="res-head">Name:</span>{{item.name}}</td>
            <td><span class="res-head">Created On:</span>{{item.createdOn | date: 'medium'}}</td>
            <!-- <td class="action">
                <button><img src="assets/images/icons/view.svg" alt=""></button>
                <button><img src="assets/images/icons/edit.svg" alt=""></button>
                <button><img src="assets/images/icons/delete.svg" alt=""></button>
            </td> -->
        </tr>
    </tbody>
</table>
<div class="pagination-area">
    <h4>Total: 41</h4>
    <nz-pagination [nzPageIndex]="1" [nzTotal]="50"></nz-pagination>
</div>

<!-- <div class="table-responsive mt-25">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Creation Time</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let type of productTypes; let i= index">
                <td>{{i+1}}</td>
                <td>{{type.name}}</td>
                <td>{{type.createdOn}}</td>
            </tr>

        </tbody>
    </table>
</div> -->

<div>

    <modal id="productTypeModal" *ngIf="createModal">
        <div class="modal-header">
            <h5 class="modal-title">Create Product Type</h5>
            <button type="button" class="btn-close" (click)="closeModal()"></button>
        </div>
        <div class="modal-body">
            <form (ngSubmit)="onSubmit()" [formGroup]="createProductTypeForm">
                <div class="form-group pt-3">
                    <div class="input-field"
                        [class.error]="createProductTypeForm.controls['name'].dirty && createProductTypeForm.hasError('required','name')">
                        <span class="fa fa-user p-2"></span>
                        <input formControlName="name" type="text" placeholder="Name">
                    </div>
                </div>
                <small
                    *ngIf="createProductTypeForm.controls['name'].dirty && createProductTypeForm.hasError('required','name')"
                    class="text-danger">*Name is required*</small>

                <button *ngIf="!submitting" type="submit" class="btn btn-primary btn-block mt-4 w-100">Save</button>
                <button type="button" class="btn btn-primary" *ngIf="submitting">
                    <i class="fas fa-spinner fa-pulse"></i>
                </button>
            </form>
        </div>
    </modal>


</div>