@use "variables" as *;
@use "mixins" as *;

.page-header {
    &__inner {
        justify-content: flex-start;

        .each-data {
            margin-right: 15px;
            margin-bottom: 15px;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}