<div class="page-header">
    <div class="page-header__inner">
        <button class="main-btn" (click)="openNoticeModal()"><span>Create Notice</span></button>
    </div>
</div>

<!-- New Code -->
<div class="notice-card mt-25">
    <div class="row">
        <div class="col-lg-4 col-md-6 pb-25" *ngFor="let item of notices">
            <div class="card-1" (click)="openNoticeDetailsModal(item)">
                <div class="logo">
                    <img src="https://localhost:7019/images/notices/{{item.logoName}}" alt="">
                </div>
                <div class="content">
                    <h3>{{item.title}}</h3>
                    <p class="desc">{{item.desc}}</p>
                    <div class="time">
                        <p>Created at: <span>{{item.createdOn | date: 'medium'}}</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="pagination-area">
    <h4>Total: 41</h4>
    <nz-pagination [nzPageIndex]="1" [nzTotal]="50"></nz-pagination>
</div>

<!-- Notice Details -->
<nz-modal [(nzVisible)]="noticeDetailsModal">
    <ng-container *nzModalContent>
        <div class="modal-header">
            <h2>Details of {{detailsModalData?.title}}</h2>
            <button (click)="closeNoticeDetailsModal()"><img src="assets/images/icons/close.svg" alt=""></button>
        </div>
        <div class="modal-body card-details">
            <div class="logo">
                <!-- <div class="image" style="background-image: url('https://localhost:7019/images/notices/{{detailsModalData?.logoName}}'); background-size: cover; background-position: center;"></div> -->
                <img src="https://localhost:7019/images/notices/{{detailsModalData?.logoName}}" alt="">
            </div>
            <h3>{{detailsModalData?.title}}</h3>
            <p>{{detailsModalData?.description}}</p>
        </div>
    </ng-container>
</nz-modal>
<!-- New Code -->

<!-- =======================================================
======================================================= -->



<modal id="notice" *ngIf="createModal">
    <div class="modal-header">
        <h5 class="modal-title">Create Notice</h5>
        <button type="button" class="btn-close" (click)="closeModal()"></button>
    </div>
    <div class="modal-body">
        <form (ngSubmit)="onSubmit()" [formGroup]="createNoticeForm">
            <div class="form-group pt-3">
                <div class="input-field"
                    [class.error]="createNoticeForm.controls['title'].dirty && createNoticeForm.hasError('required','title')">
                    <span class="fa fa-user p-2"></span>
                    <input formControlName="title" type="text" placeholder="Title">
                </div>
            </div>
            <small *ngIf="createNoticeForm.controls['title'].dirty && createNoticeForm.hasError('required','title')"
                class="text-danger">*Title is required*</small>

            <div class="form-group pt-3">
                <div class="input-field"
                    [class.error]="createNoticeForm.controls['description'].dirty && createNoticeForm.hasError('required','description')">
                    <span class="fa fa-user p-2"></span>
                    <textarea formControlName="description" rows="6" cols="160" type="text"
                        placeholder="Description"> </textarea>
                </div>
            </div>
            <!-- <div class="form-group pt-3">
                            <quill-editor formControlName="description"></quill-editor>
                        </div> -->
            <small
                *ngIf="createNoticeForm.controls['title'].dirty && createNoticeForm.hasError('required','description')"
                class="text-danger">*Description is required*</small>

            <div class="form-group pt-3">
                <div class="input-field">
                    <span class="fa fa-user p-2"></span>
                    <input formControlName="image" type="file" (change)="onFileChange($event)">
                </div>
            </div>
            <small *ngIf="fileError" class="text-danger">{{ fileError }}</small>

            <button *ngIf="!submitting" type="submit" class="btn btn-primary btn-block mt-4 w-100">Save</button>
            <button type="button" class="btn btn-primary" *ngIf="submitting">
                <i class="fas fa-spinner fa-pulse"></i>
            </button>
        </form>
    </div>
</modal>