<div class="page-header">
    <div class="page-header__inner">
        <button class="main-btn" (click)="openNoticeModal()"><span>Create Notice</span></button>
    </div>
</div>

<!-- New Code -->
<div class="notice-card mt-25">
    <div class="row">
        <div class="col-lg-4 col-md-6 pb-25" *ngFor="let item of notices">
            <div class="card-1" (click)="openNoticeDetailsModal(item)">
                <div class="logo">
                    <img src="https://localhost:7019/images/notices/{{item.logoName}}" alt="">
                </div>
                <div class="content">
                    <h3>{{item.title}}</h3>
                    <p class="desc">{{item.desc}}</p>
                    <div class="time">
                        <p>Created at: <span>{{item.createdOn | date: 'medium'}}</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="pagination-area">
    <h4>Total: 41</h4>
    <nz-pagination [nzPageIndex]="1" [nzTotal]="50"></nz-pagination>
</div>

<!-- Notice Details -->
<nz-modal [(nzVisible)]="noticeDetailsModal">
    <ng-container *nzModalContent>
        <div class="modal-header">
            <h2>Details of {{detailsModalData?.title}}</h2>
            <button (click)="closeNoticeDetailsModal()"><img src="assets/images/icons/close.svg" alt=""></button>
        </div>
        <div class="modal-body card-details">
            <div class="logo">
                <!-- <div class="image" style="background-image: url('https://localhost:7019/images/notices/{{detailsModalData?.logoName}}'); background-size: cover; background-position: center;"></div> -->
                <img src="{{baseUrl}}/images/notices/{{detailsModalData?.logoName}}" alt="">
            </div>
            <h3>{{detailsModalData?.title}}</h3>
            <p>{{detailsModalData?.description}}</p>
        </div>
    </ng-container>
</nz-modal>
<!-- New Code -->

<!-- =======================================================
======================================================= -->



<!-- <modal id="notice" *ngIf="createModal">
    <div class="modal-header">
        <h5 class="modal-title">Create Notice</h5>
        <button type="button" class="btn-close" (click)="closeModal()"></button>
    </div>
    <div class="modal-body">
        <form (ngSubmit)="onSubmit()" [formGroup]="createNoticeForm">
            <div class="form-group pt-3">
                <div class="input-field"
                    [class.error]="createNoticeForm.controls['title'].dirty && createNoticeForm.hasError('required','title')">
                    <span class="fa fa-user p-2"></span>
                    <input formControlName="title" type="text" placeholder="Title">
                </div>
            </div>
            <small *ngIf="createNoticeForm.controls['title'].dirty && createNoticeForm.hasError('required','title')"
                class="text-danger">*Title is required*</small>

            <div class="form-group pt-3">
                <div class="input-field"
                    [class.error]="createNoticeForm.controls['description'].dirty && createNoticeForm.hasError('required','description')">
                    <span class="fa fa-user p-2"></span>
                    <textarea formControlName="description" rows="6" cols="160" type="text"
                        placeholder="Description"> </textarea>
                </div>
            </div>
            <small
                *ngIf="createNoticeForm.controls['title'].dirty && createNoticeForm.hasError('required','description')"
                class="text-danger">*Description is required*</small>

            <div class="upload-file">
                <div class="upload-file-box" [ngClass]="{'d-none': imageUrl}">
                    <div class="icon">
                        <img src="assets/images/icons/upload.svg" alt="">
                    </div>
                    <p *ngIf="imageUrl == null">Upload Thumbnail (PNG/JPG)</p>
                    <input type="file" formControlName="image" accept=".jpg,.png,.jpeg"
                        (change)="onFileChange($event)">
                </div>
                <div class="preview-img" *ngIf="imageUrl">
                    <img [src]="imageUrl" alt="Thumbnail preview">
                    <button (click)="changeImage()">Change</button>
                </div>
            </div>


            <small *ngIf="fileError" class="text-danger">{{ fileError }}</small>

            <button *ngIf="!submitting" type="submit" class="btn btn-primary btn-block mt-4 w-100">Save</button>
            <button type="button" class="btn btn-primary" *ngIf="submitting">
                <i class="fas fa-spinner fa-pulse"></i>
            </button>
        </form>
    </div>
</modal> -->


<nz-modal [(nzVisible)]="createModal">
    <ng-container *nzModalContent>
        <div class="modal-header">
            <h2>Create Notice</h2>
            <button (click)="closeModal()"><img src="assets/images/icons/close.svg" alt=""></button>
        </div>
        <div class="modal-body">
            <form nz-form (ngSubmit)="onSubmit()" [formGroup]="createNoticeForm" class="custom-form">
                <nz-form-item>
                    <nz-form-control nzHasFeedback>
                        <input nz-input formControlName="title" placeholder="Enter Title" />
                        <div *ngIf="createNoticeForm.get('title')?.dirty && createNoticeForm.get('title')?.errors">
                            Enter title plaese
                        </div>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-control nzHasFeedback>
                        <textarea nz-input formControlName="description" placeholder="Enter Description"></textarea>
                        <div *ngIf="createNoticeForm.get('description')?.dirty && createNoticeForm.get('description')?.errors">
                            Enter description plaese
                        </div>
                    </nz-form-control>
                </nz-form-item>

                <div class="upload-file">
                    <div class="upload-file-box" [ngClass]="{'d-none': imageUrl}">
                        <div class="icon">
                            <img src="assets/images/icons/upload.svg" alt="">
                        </div>
                        <p *ngIf="imageUrl == null">Upload Thumbnail (PNG/JPG)</p>
                        <input type="file" formControlName="image" accept=".jpg,.png,.jpeg"
                            (change)="onFileChange($event)">
                    </div>
                    <div class="preview-img" *ngIf="imageUrl">
                        <img [src]="imageUrl" alt="Thumbnail preview">
                        <button (click)="changeImage()">Change</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="cancel-btn" (click)="closeModal()">Cancel</button>
            <button class="add-btn" (click)="onSubmit()" >Create</button>
        </div>
    </ng-container>
</nz-modal>