@mixin breakpoint-max($maxWidth) {
  @media only screen and (max-width: $maxWidth) {
    @content;
  }
}

@mixin breakpoint-min($minWidth) {
  @media only screen and (min-width: $minWidth) {
    @content;
  }
}

@mixin mini-sidebar {
  .sidebar-inner {
    overflow: initial;
    padding: 0;

    .logo {
      border-bottom: 0;

      h3 {
        display: none;
      }

      figure {
        margin-left: -5px;
      }
    }

    &__menu {
      margin-top: 75px;

      .nav {
        h4 {
          width: 100%;

          span {
            display: none;
          }

          img {
            display: block;
            width: 20px;
            margin-left: auto;
            margin-right: auto;
            // filter: brightness(0) saturate(100%) invert(70%) sepia(97%) saturate(925%) hue-rotate(353deg) brightness(102%) contrast(102%);
            filter: brightness(0) saturate(97%) invert(70%) sepia(10%) saturate(800%) hue-rotate(148deg) brightness(78%) contrast(42%);
          }
        }

        &-item {
          display: flex;
          justify-content: center;
          overflow: initial;

          &:hover {
            .dropdown-area {
              // opacity: 1;
              display: block;
            }
          }

          &__list {
            .left-icon {
              margin-right: 0;

              i {
                font-size: 20px;
              }
            }

            span {
              display: none;
            }

            .right-icon {
              display: none;
            }
          }

          .dropdown-area {
            position: absolute;
            background-color: #173753;
            left: 90px;
            top: 0;
            padding: 30px;
            border-radius: 0 10px 10px 0;
            // opacity: 0;
            display: none;
            transition: 0.3s;
            border-left: 1px solid #4c7192;
            z-index: 999 !important;

            &:not(.show) {
              height: auto;
            }

            .mobile-title {
              display: block;
            }
          }
        }
      }
    }
  }
}