<table class="table-one">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Item Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th scope="col">Created On</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let requisition of requisitionDetailsList; let i= index">
            <td><span class="res-head">Id:</span>{{i+1}}</td>
            <td><span class="res-head">Item Name:</span>{{requisition.finishedGoodName}}</td>
            <td><span class="res-head">Quantity:</span>{{requisition.quantity}}</td>
            <td><span class="res-head">Price:</span>{{requisition.price}}</td>
            <td><span class="res-head">Created On:</span>{{requisition.createdDateTime | date:'medium'}}</td>
        </tr>
    </tbody>
</table>