<div class="page-header">
    <div class="page-header__inner">
        <div class="search-area">
            <input type="text" class="form-control" placeholder="search..." [(ngModel)]="productName"
                (input)="onFilterChange()">
            <button><img src="assets/images/icons/search.svg" alt=""></button>
        </div>
        <nz-select [(ngModel)]="selectedType" (ngModelChange)="onFilterChange()" nzDropdownClassName="select-dropdown"
            nzPlaceHolder="Select Product Type">
            <nz-option *ngFor="let type of finishedGoodTypes" [nzValue]="type.id" [nzLabel]="type.name">
            </nz-option>
        </nz-select>
    </div>
</div>
<!-- <div class="filter">
        <label for="name">Product Name</label>
        <input type="text" [(ngModel)]="productName" (input)="onFilterChange()">
    </div> -->
<!-- <button (click)="openFinishedGoodModal()"><span>Add Product</span></button> -->
<div class="table-responsive">
    <table class="table-one mt-10">
        <thead>
            <tr>
                <th class="s-col">#</th>
                <th></th>
                <th>Name</th>
                <th>UOM</th>
                <th>Unit Price</th>
                <th>Status</th>
                <th>Description</th>
                <th>Added On</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of products; let i= index">
                <td><span class="res-head">Id:</span>{{i+1}}</td>
                <td><span class="res-head"></span><img nz-image nzSrc="{{baseUrl}}/images/products/{{item.logoName}}"
                        alt="" class="user-thumb" onerror="this.src = 'assets/images/icons/default-user.jpg'"></td>

                <td><span class="res-head">Name:</span>{{item.name}}</td>
                <td><span class="res-head">UOM:</span>{{item.uom}}</td>
                <td><span class="res-head">Unit Price:</span>{{item.unitPrice}}</td>
                <td><span class="res-head">Status:</span>{{item.isActive == true ? 'Active' : 'InActive'}}</td>
                <td><span class="res-head">Description</span>
                    <p class="td-text-cut">{{item.description}}</p>
                </td>
                <td><span class="res-head">Added On:</span>{{item.createdOn | date: 'medium'}}</td>
                <td class="action">
                    <button (click)="openEditFinishedGoodModal(item)"><img src="assets/images/icons/edit.svg"
                            alt=""></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="pagination-area">
    <h4>Total: 41</h4>
    <nz-pagination [nzPageIndex]="1" [nzTotal]="50"></nz-pagination>
</div>


<nz-modal [(nzVisible)]="createModal">
    <ng-container *nzModalContent>
        <div class="modal-header">
            <h2>Add Product</h2>
            <button (click)="closeModal()"><img src="assets/images/icons/close.svg" alt=""></button>
        </div>
        <div class="modal-body">
            <form nz-form (ngSubmit)="onSubmit()" [formGroup]="createFinishedGoodForm" class="custom-form">
                <nz-form-item>
                    <nz-form-control nzHasFeedback>
                        <input nz-input formControlName="name" placeholder="Enter Product Name" />
                        <div
                            *ngIf="createFinishedGoodForm.get('name')?.dirty && createFinishedGoodForm.get('name')?.errors">
                            Enter product name plaese
                        </div>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-control nzHasFeedback>
                        <input nz-input formControlName="uOM" placeholder="Enter Unit Of Measurement" />
                        <div
                            *ngIf="createFinishedGoodForm.get('uOM')?.dirty && createFinishedGoodForm.get('uOM')?.errors">
                            Enter unit of measurement plaese
                        </div>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-control nzHasFeedback>
                        <input nz-input formControlName="unitPrice" placeholder="Enter Unit price" />
                        <div
                            *ngIf="createFinishedGoodForm.get('unitPrice')?.dirty && createFinishedGoodForm.get('unitPrice')?.errors">
                            Enter unit price plaese
                        </div>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-control>
                        <nz-select nzDropdownClassName="select-dropdown" formControlName="finishedGoodTypeId"
                            nzPlaceHolder="Select Product Type">
                            <nz-option *ngFor="let type of finishedGoodTypes" [nzValue]="type.id" [nzLabel]="type.name">
                            </nz-option>
                        </nz-select>
                        <!-- <select formControlName="finishedGoodTypeId" class="form-control">
                            <option value=null disabled>Select Product Type</option>
                            <option *ngFor="let type of finishedGoodTypes" [(ngModel)]="selectedProductType"
                                [value]="type.id">{{ type.name }}</option>
                        </select> -->
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-control nzHasFeedback>
                        <input nz-input formControlName="description" placeholder="Enter Description " />
                        <div
                            *ngIf="createFinishedGoodForm.get('description')?.dirty && createFinishedGoodForm.get('description')?.errors">
                            Enter description plaese
                        </div>
                    </nz-form-control>
                </nz-form-item>

                <div class="upload-file">
                    <div class="upload-file-box" [ngClass]="{'d-none': imageUrl}">
                        <div class="icon">
                            <img src="assets/images/icons/upload.svg" alt="">
                        </div>
                        <p *ngIf="imageUrl == null">Upload Thumbnail (PNG/JPG)</p>
                        <input type="file" formControlName="image" accept=".jpg,.png,.jpeg"
                            (change)="onFileChange($event)">
                    </div>
                    <div class="preview-img" *ngIf="imageUrl">
                        <img [src]="imageUrl" alt="Thumbnail preview">
                        <button (click)="changeImage()">Change</button>
                    </div>
                </div>

            </form>
        </div>
        <div class="modal-footer">
            <button class="cancel-btn" (click)="closeModal()">Cancel</button>
            <button class="add-btn" (click)="onSubmit()">Save</button>
        </div>
    </ng-container>
</nz-modal>

<nz-modal [(nzVisible)]="editModal">
    <ng-container *nzModalContent>
        <div class="modal-header">
            <h2>Edit Product</h2>
            <button (click)="closeModal()"><img src="assets/images/icons/close.svg" alt=""></button>
        </div>
        <div class="modal-body">
            <form nz-form (ngSubmit)="onSubmit()" [formGroup]="editFinishedGoodForm" class="custom-form">
                <nz-form-item>
                    <nz-form-control>
                        <nz-select nzDropdownClassName="select-dropdown" formControlName="isActive"
                            nzPlaceHolder="Select Status">
                            <nz-option [nzValue]="true" nzLabel="Active"></nz-option>
                            <nz-option [nzValue]="false" nzLabel="InActive"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-control nzHasFeedback>
                        <input nz-input formControlName="unitPrice" placeholder="Enter Unit price" />
                        <div
                            *ngIf="editFinishedGoodForm.get('unitPrice')?.dirty && editFinishedGoodForm.get('unitPrice')?.errors">
                            Enter unit price plaese
                        </div>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-control nzHasFeedback>
                        <input nz-input formControlName="description" placeholder="Enter Description " />
                        <div
                            *ngIf="editFinishedGoodForm.get('description')?.dirty && editFinishedGoodForm.get('description')?.errors">
                            Enter description plaese
                        </div>
                    </nz-form-control>
                </nz-form-item>
            </form>
        </div>
        <div class="modal-footer">
            <button class="cancel-btn" (click)="closeModal()">Cancel</button>
            <button class="add-btn" (click)="editProduct()">Edit</button>
        </div>
    </ng-container>
</nz-modal>