.page-header {
    &__inner {
        .search-area {
            margin-bottom: 15px;
        }

        .flex-item {
            display: flex;
            align-items: center;
            flex-wrap: wrap;

            .filter {
                margin-bottom: 15px;
                margin-right: 15px;
            }

            .main-btn {
                margin-bottom: 15px;
            }
        }
    }
}