<div class="page-header">
    <div class="page-header__inner">
        <div class="search-area">
            <input type="text" class="form-control" placeholder="search..." [(ngModel)]="productName"
                (input)="onFilterChange()">
            <button><img src="assets/images/icons/search.svg" alt=""></button>
        </div>
        <div class="flex-item">
            <div class="filter">
                <label for="user">Product Type</label>
                <select id="user" [(ngModel)]="selectedType" (change)="onFilterChange()">
                    <option *ngFor="let type of finishedGoodTypes" [value]="type.id">{{ type.name }}</option>
                </select>
            </div>
            <button class="main-btn" (click)="openFinishedGoodModal()">Add Product</button>
        </div>
        <!-- <nz-select [(ngModel)]="selectedType" (change)="onFilterChange()" nzDropdownClassName="select-dropdown"
            nzPlaceHolder="Select Product Type">
            <nz-option *ngFor="let type of finishedGoodTypes" [nzValue]="type.id" [nzLabel]="type.name">
            </nz-option>
        </nz-select> -->
    </div>
</div>
<!-- <div class="filter">
        <label for="name">Product Name</label>
        <input type="text" [(ngModel)]="productName" (input)="onFilterChange()">
    </div> -->
<!-- <button (click)="openFinishedGoodModal()"><span>Add Product</span></button> -->
<div class="table-responsive">
    <table class="table-one mt-10">
        <thead>
            <tr>
                <th class="s-col">#</th>
                <th></th>
                <th>Name</th>
                <th>UOM</th>
                <th>Unit Price</th>
                <th>Status</th>
                <th>Description</th>
                <th>Added On</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of products; let i= index">
                <td><span class="res-head">Id:</span>{{i+1}}</td>
                <td><span class="res-head">Id:</span><img nz-image
                        nzSrc="{{baseUrl}}/images/products/{{item.logoName}}" alt="" class="user-thumb"
                        onerror="this.src = 'assets/images/icons/default-user.jpg'"></td>
                <!-- <td><img src="https://localhost:7019/images/products/{{item.logoName}}" alt="" width="50" height="50"></td>         -->


                <td><span class="res-head">Name:</span>{{item.name}}</td>
                <td><span class="res-head">UOM:</span>{{item.uom}}</td>
                <td><span class="res-head">Unit Price:</span>{{item.unitPrice}}</td>
                <td><span class="res-head">Status:</span>{{item.isActive == true ? 'Active' : 'InActive'}}</td>
                <td><span class="res-head">Description</span>
                    <p class="td-text-cut">{{item.description}}</p>
                </td>
                <td><span class="res-head">Added On:</span>{{item.createdOn | date: 'medium'}}</td>
                <td class="action">
                    <button (click)="openEditFinishedGoodModal(item)"><img src="assets/images/icons/edit.svg"
                            alt=""></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="pagination-area">
    <h4>Total: 41</h4>
    <nz-pagination [nzPageIndex]="1" [nzTotal]="50"></nz-pagination>
</div>


<nz-modal [(nzVisible)]="createModal">
    <ng-container *nzModalContent>
        <div class="modal-header">
            <h2>Add Product</h2>
            <button (click)="closeModal()"><img src="assets/images/icons/close.svg" alt=""></button>
        </div>
        <div class="modal-body">
            <form nz-form (ngSubmit)="onSubmit()" [formGroup]="createFinishedGoodForm" class="custom-form">
                <nz-form-item>
                    <nz-form-control nzHasFeedback>
                        <input nz-input formControlName="name" placeholder="Enter Product Name" />
                        <div
                            *ngIf="createFinishedGoodForm.get('name')?.dirty && createFinishedGoodForm.get('name')?.errors">
                            Enter product name plaese
                        </div>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-control nzHasFeedback>
                        <input nz-input formControlName="uOM" placeholder="Enter Unit Of Measurement" />
                        <div
                            *ngIf="createFinishedGoodForm.get('uOM')?.dirty && createFinishedGoodForm.get('uOM')?.errors">
                            Enter unit of measurement plaese
                        </div>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-control nzHasFeedback>
                        <input nz-input formControlName="unitPrice" placeholder="Enter Unit price" />
                        <div
                            *ngIf="createFinishedGoodForm.get('unitPrice')?.dirty && createFinishedGoodForm.get('unitPrice')?.errors">
                            Enter unit price plaese
                        </div>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-control>
                        <nz-select nzDropdownClassName="select-dropdown" formControlName="finishedGoodTypeId"
                            nzPlaceHolder="Select Product Type">
                            <nz-option *ngFor="let type of finishedGoodTypes" [nzValue]="type.id" [nzLabel]="type.name">
                            </nz-option>
                        </nz-select>
                        <!-- <select formControlName="finishedGoodTypeId" class="form-control">
                            <option value=null disabled>Select Product Type</option>
                            <option *ngFor="let type of finishedGoodTypes" [(ngModel)]="selectedProductType"
                                [value]="type.id">{{ type.name }}</option>
                        </select> -->
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-control nzHasFeedback>
                        <input nz-input formControlName="description" placeholder="Enter Description " />
                        <div
                            *ngIf="createFinishedGoodForm.get('description')?.dirty && createFinishedGoodForm.get('description')?.errors">
                            Enter description plaese
                        </div>
                    </nz-form-control>
                </nz-form-item>

                <div class="upload-file">
                    <div class="upload-file-box" [ngClass]="{'d-none': imageUrl}">
                        <div class="icon">
                            <img src="assets/images/icons/upload.svg" alt="">
                        </div>
                        <p *ngIf="imageUrl == null">Upload Thumbnail (PNG/JPG)</p>
                        <input type="file" formControlName="image" accept=".jpg,.png,.jpeg"
                            (change)="onFileChange($event)">
                    </div>
                    <div class="preview-img" *ngIf="imageUrl">
                        <img [src]="imageUrl" alt="Thumbnail preview">
                        <button (click)="changeImage()">Change</button>
                    </div>
                </div>

            </form>
        </div>
        <div class="modal-footer">
            <button class="cancel-btn" (click)="closeModal()">Cancel</button>
            <button class="add-btn" (click)="onSubmit()">Save</button>
        </div>
    </ng-container>
</nz-modal>


<!-- <modal id="addProduct" *ngIf="createModal">
    <div class="modal-header">
        <h5 class="modal-title">Add Product</h5>
        <button type="button" class="btn-close" (click)="closeModal()"></button>
    </div>
    <div class="modal-body">
        <form (ngSubmit)="onSubmit()" [formGroup]="createFinishedGoodForm">
            <div class="form-group pt-3">
                <div class="input-field"
                    [class.error]="createFinishedGoodForm.controls['name'].dirty && createFinishedGoodForm.hasError('required','name')">
                    <span class="fa fa-user p-2"></span>
                    <input formControlName="name" type="text" placeholder="Name">
                </div>
            </div>
            <small
                *ngIf="createFinishedGoodForm.controls['name'].dirty && createFinishedGoodForm.hasError('required','name')"
                class="text-danger">*Name is required*</small>
            <div class="form-group pt-3">
                <div class="input-field"
                    [class.error]="createFinishedGoodForm.controls['uOM'].dirty && createFinishedGoodForm.hasError('required','uOM')">
                    <span class="fa fa-user p-2"></span> <input formControlName="uOM" type="text"
                        placeholder="Unit of Measurement">
                </div>
            </div>
            <small
                *ngIf="createFinishedGoodForm.controls['uOM'].dirty && createFinishedGoodForm.hasError('required','uOM')"
                class="text-danger">*UOM is required*</small>

            <div class="form-group pt-3">
                <div class="input-field"
                    [class.error]="createFinishedGoodForm.controls['unitPrice'].dirty && createFinishedGoodForm.hasError('required','unitPrice')">
                    <span class="fa fa-user p-2"></span> <input formControlName="unitPrice" type="text"
                        placeholder="Unit Price">
                </div>
            </div>
            <small
                *ngIf="createFinishedGoodForm.controls['unitPrice'].dirty && createFinishedGoodForm.hasError('required','unitPrice')"
                class="text-danger">*Unit price is required*</small>

            <div class="form-group pt-3">
                <div class="input-field"
                    [class.error]="createFinishedGoodForm.controls['finishedGoodTypeId'].dirty && createFinishedGoodForm.controls['finishedGoodTypeId'].hasError('required')">
                    <span class="fa fa-user p-2"></span>
                    <select formControlName="finishedGoodTypeId" class="form-control">
                        <option value=null disabled>Select Product Type</option>
                        <option *ngFor="let type of finishedGoodTypes" [(ngModel)]="selectedProductType"
                            [value]="type.id">{{ type.name }}</option>
                    </select>
                </div>
            </div>
            <small
                *ngIf="createFinishedGoodForm.controls['finishedGoodTypeId'].dirty && createFinishedGoodForm.controls['finishedGoodTypeId'].hasError('required')"
                class="text-danger">*Product Type is required*</small>

            <div class="form-group pt-3">
                <div class="input-field"
                    [class.error]="createFinishedGoodForm.controls['description'].dirty && createFinishedGoodForm.hasError('required','description')">
                    <span class="fa fa-user p-2"></span> <input formControlName="description" type="text"
                        placeholder="Description">
                </div>
            </div>
            <small
                *ngIf="createFinishedGoodForm.controls['description'].dirty && createFinishedGoodForm.hasError('required','description')"
                class="text-danger">*Description is required*</small>

            <div class="form-group pt-3">
                <div class="input-field">
                    <span class="fa fa-user p-2"></span>
                    <input formControlName="image" type="file" (change)="onFileChange($event)">
                </div>
            </div>
            <small *ngIf="fileError" class="text-danger">{{ fileError }}</small>

            <button *ngIf="!submitting" type="submit" class="btn btn-primary btn-block mt-4 w-100">Save</button>
            <button type="button" class="btn btn-primary" *ngIf="submitting">
                <i class="fas fa-spinner fa-pulse"></i>
            </button>
        </form>
    </div>
</modal> -->


<nz-modal [(nzVisible)]="editModal">
    <ng-container *nzModalContent>
        <div class="modal-header">
            <h2>Edit Product</h2>
            <button (click)="closeModal()"><img src="assets/images/icons/close.svg" alt=""></button>
        </div>
        <div class="modal-body">
            <form nz-form (ngSubmit)="onSubmit()" [formGroup]="editFinishedGoodForm" class="custom-form">
                <nz-form-item>
                    <nz-form-control>
                        <nz-select nzDropdownClassName="select-dropdown" formControlName="isActive"
                            nzPlaceHolder="Select Status">
                            <nz-option [nzValue]="true" nzLabel="Active"></nz-option>
                            <nz-option [nzValue]="false" nzLabel="InActive"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-control nzHasFeedback>
                        <input nz-input formControlName="unitPrice" placeholder="Enter Unit price" />
                        <div
                            *ngIf="editFinishedGoodForm.get('unitPrice')?.dirty && editFinishedGoodForm.get('unitPrice')?.errors">
                            Enter unit price plaese
                        </div>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-control nzHasFeedback>
                        <input nz-input formControlName="description" placeholder="Enter Description " />
                        <div
                            *ngIf="editFinishedGoodForm.get('description')?.dirty && editFinishedGoodForm.get('description')?.errors">
                            Enter description plaese
                        </div>
                    </nz-form-control>
                </nz-form-item>
            </form>
        </div>
        <div class="modal-footer">
            <button class="cancel-btn" (click)="closeModal()">Cancel</button>
            <button class="add-btn" (click)="editProduct()">Edit</button>
        </div>
    </ng-container>
</nz-modal>