@use "./variables" as *;
@use "./mixins" as *;

button {
  &:disabled {
    opacity: 0.3;
  }

  &:active,
  &:focus {
    outline: 0;
    border: 0;
  }
}

.main-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  background: linear-gradient(329deg, #307a62 0%, #185a9d 100%);
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.3s linear;
  line-height: 1;
  padding: 11px 30px;
  border: none;

  &:disabled {
    opacity: 0.3;
  }

  &:hover {
    background-color: $primaryDark;
    color: #fff;
  }

  &-disabled {
    cursor: not-allowed;
    pointer-events: none;
    color: #c0c0c0;
    background-color: #ffffff;
  }

  &-shadow {
    box-shadow: 0 26px 19px -10px #34aaea7d;
  }

  &:active,
  &:focus {
    background-color: $textColor;
    color: #ffffff;
  }
}

.add-btn {
  background-color: $btnBg;
  color: $btnText;
  border: none;
  padding: 4px 12px;
}

.cancel-btn {
  background-color: #dceaf0;
  color: #212121;
  border: none;
  padding: 4px 12px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
}

ul {
  list-style: none;
  padding: 0;
}