<div class="page-header">
  <div class="page-header__inner">
    <!-- <div class="search-area">
      <input type="text" class="form-control" placeholder="search...">
      <button><img src="assets/images/icons/search.svg" alt=""></button>
    </div> -->
    <button class="main-btn" (click)="openRoleModal()">Create Role</button>
  </div>
</div>

<!-- <div
class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
<h1 class="h2">Role Management</h1>
</div>
        <button (click)="openRoleModal()"><span>Create Role</span></button> -->

<div class="table-responsive mt-25">
  <table class="table-one">
    <thead>
      <tr>
        <th class="s-col" scope="col">#</th>
        <th scope="col">Role</th>
        <th scope="col">Creation Time</th>
        <th scope="col">Action</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let role of roles; let i= index">
        <td><span class="res-head">Id:</span>{{i+1}}</td>
        <td><span class="res-head">Name:</span>{{role.name}}</td>
        <td>{{role.createdOn | date: 'medium'}}</td>
        <td class="action"><a (click)="openAddModuleModal(role.id)">
          <i class="fa fa-plus-circle"></i>
      </a></td>
      </tr>

    </tbody>
  </table>
</div>

<nz-modal [(nzVisible)]="createModal">
  <ng-container *nzModalContent>
      <div class="modal-header">
          <h2>Create Role</h2>
          <button (click)="closeModal()"><img src="assets/images/icons/close.svg" alt=""></button>
      </div>
      <div class="modal-body">
          <form nz-form (ngSubmit)="onSubmit()" [formGroup]="createRoleForm" class="custom-form">
              <nz-form-item>
                  <nz-form-control nzHasFeedback>
                      <input nz-input formControlName="name" placeholder="Enter name" />
                      <div *ngIf="createRoleForm.get('name')?.dirty && createRoleForm.get('name')?.errors">
                          Enter name plaese
                      </div>
                  </nz-form-control>
              </nz-form-item>
          </form>
      </div>
      <div class="modal-footer">
          <button class="cancel-btn" (click)="closeModal()">Cancel</button>
          <button class="add-btn" (click)="onSubmit()" >Create</button>
      </div>
  </ng-container>
</nz-modal>

<div>
  <!-- Create Modal-->

  

  <!-- Add Module To Role Modal -->
  <modal id="addModuleToRole" *ngIf="addModuleToRoleModal">
    <div class="modal-header">
      <h5 class="modal-title">Add Module To Role</h5>
      <button type="button" class="btn-close" (click)="closeModal()"></button>
    </div>
    <div class="modal-body">
      <div class="checkbox-container">
        <div *ngFor="let item of applicationModules">
          <label>
            <input type="checkbox" [(ngModel)]="item.checked">
            {{ item.name }}
          </label>
        </div>
      </div>
      <button *ngIf="!submitting" type="button" (click)="assignModuleToRole()"
        class="btn btn-primary btn-block mt-4 w-100">Save</button>
      <button type="button" class="btn btn-primary" *ngIf="submitting">
        <i class="fas fa-spinner fa-pulse"></i>
      </button>
      <div *ngIf="errorMessage" class="alert alert-danger mt-3">
        {{ errorMessage }}
      </div>
    </div>
  </modal>


</div>


