
<div
class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
<h1 class="h2">Role Management</h1>
</div>
        <button (click)="openRoleModal()"><span>Create Role</span></button>
        
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Role</th>
                        <th scope="col">Creation Time</th>
                        <th scope="col">Action</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let role of roles; let i= index">
                        <td>{{i+1}}</td>
                        <td>{{role.name}}</td>
                        <td>{{role.createdOn}}</td>
                        <td><button (click)="openAddModuleModal(role.id)"><span>Add Module</span></button>
                        </td>
                    </tr>
        
                </tbody>
            </table>
        </div>
        
        <div>
            <!-- Create Modal-->

            <modal *ngIf="createModal" >
                <div class="modal-header">
                    <h5 class="modal-title">Create Role</h5>
                    <button type="button" class="btn-close" (click)="closeModal()"></button>
                </div>
                <div class="modal-body">
                    <form (ngSubmit)="onSubmit()" [formGroup]="createRoleForm">
                        <div class="form-group pt-3">
                            <div class="input-field" [class.error]="createRoleForm.controls['name'].dirty && createRoleForm.hasError('required','name')"> 
                                <span class="fa fa-user p-2"></span> 
                                <input formControlName="name" type="text" placeholder="Name"> </div>
                        </div>
                        <small *ngIf="createRoleForm.controls['name'].dirty && createRoleForm.hasError('required','name')" class="text-danger">*Name is required*</small>
                        
                        <button *ngIf="!submitting" type="submit" class="btn btn-primary btn-block mt-4 w-100">Save</button>
                        <button type="button" class="btn btn-primary" *ngIf="submitting">
                            <i class="fas fa-spinner fa-pulse"></i>
                        </button>
                    </form>
                </div>
            </modal>

            <!-- Add Module To Role Modal -->
            <modal id="addModuleToRole" *ngIf="addModuleToRoleModal">
                <div class="modal-header">
                  <h5 class="modal-title">Add Module To Role</h5>
                  <button type="button" class="btn-close" (click)="closeModal()"></button>
                </div>
                <div class="modal-body">
                  <div class="checkbox-container">
                    <div *ngFor="let item of applicationModules">
                      <label>
                        <input type="checkbox" [(ngModel)]="item.checked">
                        {{ item.name }}
                      </label>
                    </div>
                  </div>
                  <button *ngIf="!submitting" type="button" (click)="assignModuleToRole()" class="btn btn-primary btn-block mt-4 w-100">Save</button>
                  <button type="button" class="btn btn-primary" *ngIf="submitting">
                    <i class="fas fa-spinner fa-pulse"></i>
                  </button>
                  <div *ngIf="errorMessage" class="alert alert-danger mt-3">
                    {{ errorMessage }}
                  </div>
                </div>
              </modal>
              
         
        </div>
 
