<div class="container">
  <div class="header">
    <div class="form-group">
      <label for="user-group">User Group</label>
      <select id="user-group" [(ngModel)]="selectedUserGroup" (change)="onUserGroupChange()">
        <option *ngFor="let group of userTypes" [value]="group.id">{{ group.typeName }}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="user">User</label>
      <select id="user" [(ngModel)]="selectedUser">
        <option *ngFor="let user of users" [value]="user.id">{{ user.firstName + ' ' + user.lastName }}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="product-type">Product Type</label>
      <select id="product-type" [(ngModel)]="selectedProductType" (change)="onProductTypeChange()">
        <option *ngFor="let type of finishedGoodTypes" [value]="type.id">{{ type.name }}</option>
      </select>
    </div>
  </div>

  <div class="table-container">
    <table class="full-width-table">
      <thead>
        <tr>
          <th>Product Name</th>
          <th>Price</th>
          <th>Quantity</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td>{{ product.name }}</td>
          <td>{{ product.unitPrice }}</td>
          <td><input type="number" [(ngModel)]="product.quantity"></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="selectedUser != null && selectedProductType != null && products.length > 0" class="submit-button">
    <button (click)="submitRequisition()">Submit Requisition</button>
  </div>
</div>
