<div class="header">

  <nz-select [(ngModel)]="selectedUserGroup" nzShowSearch nzDropdownClassName="select-dropdown" nzPlaceHolder="Select User Type"
    (ngModelChange)="onUserGroupChange()">
    <nz-option [nzValue]="data.id" *ngFor="let data of userTypes" nzLabel={{data.typeName}}></nz-option>
  </nz-select>

  <nz-select [(ngModel)]="selectedUser" nzShowSearch nzDropdownClassName="select-dropdown"
      nzPlaceHolder="Select User" (ngModelChange)="onUserGroupChange()">
      <nz-option [nzValue]="data.id" *ngFor="let data of users" nzLabel={{data.firstName}}></nz-option>
  </nz-select>

  <nz-select [(ngModel)]="selectedProductType" nzShowSearch nzDropdownClassName="select-dropdown"
      nzPlaceHolder="Select Product Type" (ngModelChange)="onProductTypeChange()">
      <nz-option [nzValue]="data.id" *ngFor="let data of finishedGoodTypes" nzLabel={{data.name}}></nz-option>
  </nz-select>
</div>

<table class="table-one mt-25">
  <thead>
    <tr>
      <th>Product Name</th>
      <th>Price</th>
      <th>Quantity</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td><span class="res-head">Product Name:</span>{{ product.name }}</td>
      <td><span class="res-head">Price:</span>{{ product.unitPrice }}</td>
      <td><span class="res-head">Quantity:</span><input type="number" [(ngModel)]="product.quantity"></td>
    </tr>
  </tbody>
</table>

<div *ngIf="selectedUser != null && selectedProductType != null && products.length > 0">
  <button class="main-btn mt-25" (click)="submitRequisition()">Submit Requisition</button>
</div>