<div class="page-header page-header-1">
  <div class="page-header__inner">
    <div class="search-area">
      <input type="text" class="form-control" placeholder="search..." [(ngModel)]="requisitionNo"
        (input)="onFilterChange()">
      <button><img src="assets/images/icons/search.svg" alt=""></button>
    </div>
    <!-- <div class="filter">
      <label for="requisition-no">Requisition No</label>
      <input type="text" [(ngModel)]="requisitionNo" (input)="onFilterChange()">
    </div> -->
    <div class="button-flex">
      <button class="main-btn" (click)="sendSelectedRequisitions()" *ngIf="isShow">Approve Selected</button>
      <button class="main-btn" (click)="onCreateNew()">Create New</button>
    </div>
  </div>
</div>

<div class="page-header page-header-2">
  <div class="page-header__inner">
    <div class="each-data">
      <nz-select [(ngModel)]="selectedStatus" nzShowSearch nzDropdownClassName="select-dropdown"
        nzPlaceHolder="Select Status" (ngModelChange)="onFilterChange()">
        <nz-option [nzValue]="true" nzLabel="Active"></nz-option>
        <nz-option [nzValue]="false" nzLabel="InActive"></nz-option>
      </nz-select>
    </div>
    <div class="each-data">
      <nz-select [(ngModel)]="selectedUser" nzShowSearch nzDropdownClassName="select-dropdown"
        nzPlaceHolder="Select User's Name" (ngModelChange)="onFilterChange()">
        <nz-option [nzValue]="data.id" *ngFor="let data of users"
          nzLabel="{{data.firstName + ' ' + data.lastName}}"></nz-option>
      </nz-select>
    </div>
  </div>
</div>

<table class="table-one mt-10">
  <thead>
    <tr>
      <th class="s-col" scope="col" *ngIf="isShow">
        <input type="checkbox" (change)="toggleSelectAll($event)">
      </th>
      <th scope="col">Requisition No</th>
      <th scope="col">Requisition By</th>
      <th scope="col">Creation Time</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let requisition of requisitionList; let i= index">
      <td *ngIf="isShow">
        <input type="checkbox" [(ngModel)]="requisition.selected" (change)="onCheckboxChange()">
      </td>
      <td><span class="res-head">Requisition No:</span>{{requisition.requisitionSerial}}</td>
      <td><span class="res-head">Requisition By:</span>{{requisition.userName}}</td>
      <td><span class="res-head">Creation Time:</span>{{requisition.createdDateTime | date:'medium'}}</td>
      <td class="action"><button [routerLink]="['/requisition-list', requisition.id]"><i
            class="fa fa-info-circle"></i></button></td>
    </tr>

  </tbody>
</table>