@use "variables" as *;
@use "mixins" as *;

.whole-dashboard {
  height: 100%;
  background-color: #f6fdfd;
}

.dashboard-body {
  padding: 30px;
  position: relative;
  overflow-x: hidden;

  @include breakpoint-max (991px) {
    padding: 15px;
  }

  &::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 90px;
    background-color: $primaryColor;
    left: 0;
    bottom: 0;
    z-index: -1;
    pointer-events: none;

    @include breakpoint-max (991px) {
      width: 0;
    }
  }

  &__inner {
    margin-left: 300px;
    transition: 0.3s;
    margin-top: 80px;

    @include breakpoint-max(991px) {
      margin-left: 0;
    }

    &--active {
      margin-left: 90px;
    }

    p {
      color: #717171;
      font-size: 15px;
    }
  }
}