<div class="page-header">
    <div class="page-header__inner">
        <div class="each-data">
            <nz-select [(ngModel)]="selectedUserGroup" nzShowSearch nzDropdownClassName="select-dropdown"
                nzPlaceHolder="User Group" (ngModelChange)="onUserGroupChange()">
                <nz-option [nzValue]="data.id" *ngFor="let data of userTypes" nzLabel={{data.typeName}}></nz-option>
            </nz-select>
        </div>
        <div class="each-data">
            <nz-select [(ngModel)]="selectedUser" nzShowSearch nzDropdownClassName="select-dropdown"
                nzPlaceHolder="Select User's Name" (ngModelChange)="onFilterChange()">
                <nz-option [nzValue]="data.id" *ngFor="let data of users"
                    nzLabel="{{data.firstName + ' ' + data.lastName}}"></nz-option>
            </nz-select>
        </div>
    </div>
</div>
<div class="table-responsive">
    <div class="table-responsive mt-10">
        <table class="table-one">
            <thead>
                <tr>
                    <th class="s-col" scope="col">#</th>
                    <th scope="col">Invoice For</th>
                    <th scope="col">Invoice Number</th>
                    <th scope="col">Requisition Serial</th>
                    <th scope="col">Total Amount</th>
                    <th scope="col">Collection Amount</th>
                    <th scope="col">Creation Time</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let invoice of invoiceList; let i= index">
                    <td><span class="res-head">Id:</span>{{i+1}}</td>
                    <td><span class="res-head">Invoice For:</span>{{invoice.userName}}</td>
                    <td><span class="res-head">Invoice Number:</span>{{invoice.invoiceNumber}}</td>
                    <td><span class="res-head">Requisition Serial:</span>{{invoice.salesRequisitionNo}}</td>
                    <td><span class="res-head">Total Amount:</span>{{invoice.totalPrice}}</td>
                    <td><span class="res-head">Collection Amount:</span>{{invoice.collectionAmount}}</td>
                    <td><span class="res-head">Creation Time:</span>{{invoice.createdDateTime | date:'medium'}}</td>
                    <td class="action">
                        <button (click)="openCollectionModal(invoice.id)">
                            <i class="fa fa-credit-card"></i>
                        </button> 
                        <button (click)="getCollectionList(invoice.id)">
                            <i class="fa fa-history"></i>
                        </button>
                    </td>
                    
            </tbody>
        </table>
    </div>
</div>




<nz-modal [(nzVisible)]="createCollectionModal">
    <ng-container *nzModalContent>
        <div class="modal-header">
            <h2>Collect Amount</h2>
            <button (click)="closeModal()"><img src="assets/images/icons/close.svg" alt=""></button>
        </div>
        <div class="modal-body">
            <form nz-form (ngSubmit)="onSubmit()" [formGroup]="createCollectionForm" class="custom-form">
                <nz-form-item>
                    <nz-form-control nzHasFeedback>
                        <input nz-input formControlName="collectionAmount" placeholder="Enter Collection Amount" />
                        <div
                            *ngIf="createCollectionForm.get('collectionAmount')?.dirty && createCollectionForm.get('collectionAmount')?.errors">
                            Enter Collection Amount First
                        </div>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-control nzHasFeedback>
                        <input nz-input formControlName="paymentMethod" placeholder="Enter Payment Method" />
                        <div
                            *ngIf="createCollectionForm.get('paymentMethod')?.dirty && createCollectionForm.get('paymentMethod')?.errors">
                            Enter Payment Method
                        </div>
                    </nz-form-control>
                </nz-form-item>
            </form>
        </div>
        <div class="modal-footer">
            <button class="cancel-btn" (click)="closeModal()">Cancel</button>
            <button class="add-btn" (click)="onSubmit()">Collect</button>
        </div>
    </ng-container>
</nz-modal>

<!-- <div>

        <modal id="collectionModal" *ngIf="createCollectionModal">
            <div class="modal-header">
                <h5 class="modal-title">Collect Amount</h5>
                <button type="button" class="btn-close" (click)="closeModal()"></button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="onSubmit()" [formGroup]="createCollectionForm">
                    <div class="form-group pt-3">
                        <div class="input-field"
                            [class.error]="createCollectionForm.controls['collectionAmount'].dirty && createCollectionForm.hasError('required','collectionAmount')">
                            <span class="fa fa-user p-2"></span>
                            <input formControlName="collectionAmount" type="text" placeholder="Collection Amount">
                        </div>
                    </div>
                    <small
                        *ngIf="createCollectionForm.controls['collectionAmount'].dirty && createCollectionForm.hasError('required','collectionAmount')"
                        class="text-danger">*Collection Amount is required*</small>
                    <div class="form-group pt-3">
                        <div class="input-field"
                            [class.error]="createCollectionForm.controls['paymentMethod'].dirty && createCollectionForm.hasError('required','paymentMethod')">
                            <span class="fa fa-user p-2"></span> <input formControlName="paymentMethod" type="text"
                                placeholder="Payment Method">
                        </div>
                    </div>
                    <small
                        *ngIf="createCollectionForm.controls['paymentMethod'].dirty && createCollectionForm.hasError('required','paymentMethod')"
                        class="text-danger">*Payment Method is required*</small>

                    <button *ngIf="!submitting" type="submit" class="btn btn-primary btn-block mt-4 w-100">Save</button>
                    <button type="button" class="btn btn-primary" *ngIf="submitting">
                        <i class="fas fa-spinner fa-pulse"></i>
                    </button>
                </form>
            </div>
        </modal>
    </div> -->