<div class="header" [ngClass]="{ header__active: isHeaderFullArea }">
    <div class="header__inner">
        <div class="hamburger">
            <button (click)="openSidebar()">
                <img src="assets/images/hambar.svg" alt="">
            </button>

            <button class="mobile-ham" (click)="openSidebarMobile()">
                <img src="assets/images/hambar.svg" alt="">
            </button>
        </div>
        <nav>
            <ul>
                <li><span style="font-size: 18px;">{{loggedinUserName}}</span> </li>
                <li class="notification" routerLink="/all-notification"><img src="assets/images/icons/notification.svg"
                        alt="Notification" />
                </li>

                <li nz-dropdown nzTrigger="click" nzOverlayClassName="profile-dropdown" [nzDropdownMenu]="menu">
                    <img src="assets/images/icons/user.jpg" alt=""
                        onerror="this.src = 'assets/images/icons/default-user.jpg'">
                    <nz-dropdown-menu #menu="nzDropdownMenu">
                        <ul nz-menu>
                            <li nz-menu-item (click)="openUserModal()"> <img src="assets/images/icons/profile.svg"
                                    alt="">Profile</li>
                            <li nz-menu-item routerLink="/login"><img src="assets/images/icons/logout.svg" alt="">
                                Logout</li>
                        </ul>
                    </nz-dropdown-menu>
                </li>
            </ul>
        </nav>
    </div>

    <div class="header-bottom">
        <div class="header-bottom__inner">
            <h3>{{ pageTitle }}</h3>
        </div>
    </div>
</div>