<!-- <div class="time-setting-container">
    <div class="time-input-group">
        <label for="fromTime" class="time-label">From Time:</label>
        <input type="time" id="fromTime" [(ngModel)]="selectedFromTime" class="time-input" required>
    </div>
    <div class="time-input-group">
        <label for="toTime" class="time-label">To Time:</label>
        <input type="time" id="toTime" [(ngModel)]="selectedToTime" class="time-input" required>
    </div>
    <button type="button" (click)="onSubmit()" class="submit-button">Submit</button>
</div> -->



<div class="page-header">
    <div class="page-header__inner">
        <h3>Requisition only allowed within below mentioned time range</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-7 mx-auto">
        <div class="time-setting">
            <div class="time-setting__inner">
                <div class="each-data">
                    <div class="time-input-group">
                        <label for="fromTime" class="time-label">From Time:</label>
                        <input type="time" id="fromTime" [(ngModel)]="selectedFromTime" class="time-input" required>
                    </div>
                </div>
                <div class="each-data">
                    <div class="time-input-group">
                        <label for="toTime" class="time-label">To Time:</label>
                        <input type="time" id="toTime" [(ngModel)]="selectedToTime" class="time-input" required>
                    </div>
                </div>
            </div>
            <div class="mt-25">
                <button (click)="onSubmit()" class="main-btn">Submit</button>
            </div>
        </div>
    </div>
</div>
<!-- <div class="page-header">
    <div class="page-header__inner">
        <h3>Requisition only allowed within below mentioned time range</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-7 mx-auto">
        <div class="time-setting">
            <div class="time-setting__inner">
                <div class="each-data">
                    <nz-time-picker id="fromTime" [(ngModel)]="selectedFromTime" nzFormat="HH:mm"></nz-time-picker>
                </div>
                <div class="each-data">
                    <nz-time-picker id="toTime" [(ngModel)]="selectedToTime" nzFormat="HH:mm"></nz-time-picker>
                </div>
            </div>
            <div class="mt-25">
                <button (click)="onSubmit()" class="main-btn">Submit</button>
            </div>
        </div>
    </div>
</div> -->