@use 'variables' as *;
@use 'mixins' as *;

/********************************************
* Shimmer
********************************************/

@keyframes placeholderShimmer {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}

.shimmer-animation {
  background-color: #f6f7f8;
  background-image: linear-gradient(to right, #eaeced 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
  background-repeat: no-repeat;
  background-size: 800px 104px;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeholderShimmer;
  animation-timing-function: linear;
}

.shimmer {
  &-card {
    height: 16rem;
    background-size: 800px 18rem;
    border-radius: 5px;
    margin-bottom: 12px;
    border: 1px solid #dde9f0;
  }

  &-image {
    height: 180px;
    background-size: 800px 18rem;
    border-radius: 5px;
    margin-bottom: 12px;
  }
}

.icon-box {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-right: 20px;
  background-color: #f6f7f9;

  i {
    font-size: 30px;
    line-height: 1;
    display: inline-flex;
  }
}

.cursor {
  cursor: pointer;
}

.img-box {
  border-radius: 5px;
  overflow: hidden;
}

.no-data-found {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  flex-direction: column;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 25px;

  img {
    text-align: center;
    margin-bottom: 30px;
  }
}

.flex-align {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.no-align-center {
  align-items: normal !important;
}

.disbled-select {
  pointer-events: none;
  opacity: 0.5;
}

.page-header {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      font-size: 1.5em;
      color: #505050;
    }

    .search-area {
      display: flex;
      align-items: center;

      input {
        padding: 7px 30px 7px 10px;
        font-size: 16px;
        border-radius: 5px 0 0 5px;
        border: 1px solid #6acec3;
      }

      button {
        background: linear-gradient(329deg, #307a62 0%, #185a9d 100%);
        border: none;
        padding: 8px 16px;
        border-radius: 0 5px 5px 0;
        border: 1px solid #185a9d;
      }
    }

    .main-btn {
      background: linear-gradient(329deg, #307a62 0%, #185a9d 100%);
      font-size: 17px;
    }
  }
}

.modal-header {
  align-items: center !important;
  padding-bottom: 15px !important;
  border-bottom: 1px solid #dceaf0 !important;

  h2 {
    margin-bottom: 0 !important;
  }

  button {
    background-color: transparent;
    border: none;
    font-size: 20px;
  }
}

.modal-body {
  padding: 10px 0 !important;
}

.modal-footer {
  padding-top: 20px !important;
  border-top: 1px solid #dceaf0 !important;

  button {
    padding: 5px 16px;
    border: 0;
    font-size: 14px;
    border-radius: 5px;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  .cancel-btn {
    background-color: #dceaf0;
    color: #727272;
  }

  .add-btn {
    background-color: $btnBg;
    color: $btnText;
  }
}