@use 'variables' as *;
@use 'mixins' as *;

/********************************************
* Shimmer
********************************************/

@keyframes placeholderShimmer {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}

.shimmer-animation {
  background-color: #f6f7f8;
  background-image: linear-gradient(to right, #eaeced 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
  background-repeat: no-repeat;
  background-size: 800px 104px;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeholderShimmer;
  animation-timing-function: linear;
}

.shimmer {
  &-card {
    height: 16rem;
    background-size: 800px 18rem;
    border-radius: 5px;
    margin-bottom: 12px;
    border: 1px solid #dde9f0;
  }

  &-image {
    height: 180px;
    background-size: 800px 18rem;
    border-radius: 5px;
    margin-bottom: 12px;
  }
}

.icon-box {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-right: 20px;
  background-color: #f6f7f9;

  i {
    font-size: 30px;
    line-height: 1;
    display: inline-flex;
  }
}

.cursor {
  cursor: pointer;
}

.buffer-div {
  background-color: #fff;
  height: 20px;
  width: 100%;
}

.img-box {
  border-radius: 5px;
  overflow: hidden;
}

.no-data-found {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  flex-direction: column;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 25px;

  img {
    text-align: center;
    margin-bottom: 30px;
  }
}

.flex-align {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.no-align-center {
  align-items: normal !important;
}

.disbled-select {
  pointer-events: none;
  opacity: 0.5;
}

.page-header {
  padding-top: 20px;

  @include breakpoint-max (991px) {
    padding-top: 30px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .search {
      position: relative;
      width: 33.33%;
      padding-right: 10px;
      border-radius: 5px;
      display: flex;

      input {
        padding: 12px;
        border: none;
        background-color: #fff;
        border-radius: 2px;
        padding-left: 30px;
        width: 100%;
        border-radius: 5px;

        &::placeholder {
          font-size: 13px;
        }

        &:focus {
          outline: none;
        }
      }

      span {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 10px;
      }

      button {
        background-color: $btnBg;
        border: none;
        color: $btnText;
        border-radius: 0 5px 5px 0;
      }
    }

    @include breakpoint-max (767px) {
      .search {
        width: 100%;
        margin-bottom: 10px;
      }
    }

    .add-btn {
      padding: 5px 16px;
      border: 0;
      font-size: 14px;
      border-radius: 5px;
      min-width: 130px;

      &:not(:last-child) {
        margin-right: 10px;
      }
    }

    .back-btn {
      margin-right: 20px;

      button {
        background-color: white;
        border: none;
        padding: 5px 26px;
        border-radius: 25px;
        border: 1px solid #c9c9c9;

        &:hover {
          box-shadow: 1px 10px 20px #dceaf0;
        }

        i {
          margin-right: 2px;
        }
      }
    }

    .modal-search {
      width: 100%;
      border: 1px solid #dceaf0;
      margin-right: 30px;
    }

    @include breakpoint-max(767px) {
      flex-direction: column;

      .back-btn {
        margin-bottom: 10px;
        margin-right: 0;
      }
    }
  }

  .tab-btns {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;

    @include breakpoint-max (767px) {
      justify-content: center;
    }

    button {
      margin-bottom: 10px;
      min-width: auto;
      background-color: transparent;
      border: 2px solid $primaryColor;
      color: $primaryColor;
      border-radius: 25px;
      padding: 1px 12px;

      &:not(:last-child) {
        margin-right: 10px;
      }
    }

    .active {
      background-color: $btnBg;
      color: $btnText;
    }
  }
}

.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h4 {
    margin-bottom: 0;
  }
}

.modal-header {
  align-items: center !important;
  padding-bottom: 15px !important;
  border-bottom: 1px solid #dceaf0 !important;

  h2 {
    margin-bottom: 0 !important;
  }

  button {
    background-color: transparent;
    border: none;
    font-size: 20px;
  }
}

.modal-body {
  padding: 10px 0 !important;
}

.modal-footer {
  padding-top: 20px !important;
  border-top: 1px solid #dceaf0 !important;

  button {
    padding: 5px 16px;
    border: 0;
    font-size: 14px;
    border-radius: 5px;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  .cancel-btn {
    background-color: #dceaf0;
    color: #727272;
  }

  .add-btn {
    background-color: $btnBg;
    color: $btnText;
  }
}

.status {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #dceaf0;
  padding-top: 10px;

  p {
    font-size: 15px;
    margin-bottom: 0;
  }

  h4 {
    border-radius: 25px;
    padding: 3px 10px;
    margin-bottom: 0;
    font-size: 13px;

    &.active {
      background-color: #84ffb24a;
      color: #009435;
      border: 1px solid #009435;
    }

    &.pending {
      background-color: #7d7d7d33;
      color: #7c7d7d;
      border: 1px solid #7d7d7d;
    }

    &.inactive {
      background-color: #ffa6001f;
      color: orange;
      border: 1px solid orange;
    }
  }
}

.card-hover {
  cursor: pointer;
  transition: .3s;
  border: 1px solid #fff;

  &:hover {
    border: 1px solid #b4d0de;
  }
}

.card-list {
  &__each {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    height: 100%;
    overflow: hidden;
    position: relative;

    .menu-drop {
      position: absolute;
      top: 10px;
      right: 10px;
      z-index: 10;
      background: #ffffff;
      padding: 5px;
      color: #000;
      border-radius: 0 0 0 16px;
      height: 30px;
      width: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0px 2px 7px 0px #c7c3c3;

      i {
        font-size: 16px;
      }
    }

    figure {
      height: 130px;
      overflow: hidden;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border: 1px solid #eaeaea;
        border-radius: 5px;
      }

      .no-image {
        background-color: #e4e6eb;
        height: 100%;
        width: 100%;
        position: relative;

        &__inner {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: 100%;
          text-align: center;

          h3 {
            font-size: 1em;
            color: #ababab;
          }
        }
      }
    }

    &--content {
      // min-height: 148px;

      &.content-bg {
        background-color: #dceaf0;
        padding: 10px;
        margin-top: 10px;
      }

      padding-bottom: 30px;

      &:last-child {
        padding-bottom: 0;
      }

      h2 {
        font-size: 1.2em;
        margin-bottom: 10px;
      }

      p {
        font-size: 15px;
        margin-bottom: 5px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
      }

      ul {
        padding: 0;
      }

      .title-desc {
        margin-bottom: 10px;

        h2 {
          font-size: 18px;
          margin-bottom: 5px;
        }
      }

      .details-list {
        padding-top: 10px;
        border-top: 1px solid #dceaf0;
        border-bottom: 1px solid #dceaf0;
        padding: 10px 0;

        li {
          font-size: 16px;
          display: flex;
          align-items: center;

          h4 {
            font-weight: 700;
            min-width: 100px;
            margin-bottom: 0;
          }
        }
      }

      .social-mdeia {
        margin-top: 10px;

        h3 {
          font-size: 15px;
        }

        ul {
          border: 1px solid #dceaf0;
          padding: 10px;
          display: flex;
          flex-wrap: wrap;
          margin-bottom: 0;

          li {
            margin-right: 10px;
            cursor: pointer;
            transition: .3s;

            a {
              font-size: 14px;
              color: #1a4c96;
              text-decoration: underline;
            }
          }
        }
      }

      .contact-no {
        ul {
          li {
            a {
              color: #212121;
              text-decoration: none;

              &:hover {
                text-decoration: underline;
                color: #1a4c96;
              }
            }
          }
        }
      }

      .tag-list {
        h3 {
          font-size: 15px;
        }

        margin-top: 10px;

        ul {
          display: flex;
          flex-wrap: wrap;
          margin-bottom: 0;

          li {
            margin-right: 10px;
            background-color: #dceaf0;
            padding: 4px 12px;

            a {
              font-size: 14px;
              color: #212121;
            }
          }
        }
      }
    }

    .view-details__btns {
      position: absolute;
      top: 42px;
      right: 10px;
      z-index: 10;
      background: #ffffff;
      padding: 5px;
      color: #000;
      border-radius: 16px 0 0 16px;
      height: 30px;
      width: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0px 2px 7px 0px #c7c3c3;
    }

    &--footer {
      // height: 35px;
      position: absolute;
      bottom: 0;
      width: 100%;
      left: 0;
      padding: 10px;

      .inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid #dceaf0;
        padding: 10px;
        position: absolute;
        left: 0;
        width: 100%;
        bottom: 0;

        p {
          display: flex;
          align-items: center;
          margin-bottom: 0;
          font-size: 15px;

          span {
            display: block;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            margin-right: 5px;
            margin-top: 3px;
          }

          .pending {
            background-color: #dceaf0;
          }

          .active {
            background-color: green;
          }

          .inactive {
            background-color: red;
          }
        }
      }
    }
  }
}

.area-dist {
  display: flex;
  padding: 0;

  li {
    font-size: 15px;

    &:not(:last-child) {
      margin-right: 5px;
    }
  }
}

.page-loading {
  &__center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 190px);

    h2 {
      font-size: 20px;
      margin-top: 20px;
    }
  }
}

.reject-page {
  &__center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 190px);

    .content {
      text-align: center;

      h2 {
        font-size: 25px;
        margin-bottom: 20px;
      }
    }
  }
}

.spinner {
  width: 4em;
  height: 4em;
  border: 0.5em solid $primaryColor;
  border-left-color: transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.file-upload {
  background-color: #fff;
  padding: 30px;
  position: relative;
  width: 100%;
  height: 150px;
  margin-bottom: 15px;
  border: 2px dashed #ababab;

  .preview-img {
    position: absolute;
    top: 2px;
    left: 0;
    height: 142px;
    overflow: hidden;
    z-index: 100;
    background: #e6e6e6;
    width: 100%;

    button {
      position: absolute;
      top: 5px;
      left: 5px;
      background: none;
      border: none;
      background-color: #fff;
      border-radius: 3px;
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
      display: flex;
      margin-left: auto;
      margin-right: auto;
    }
  }

  label {
    display: block;
    font-size: 20px;
    text-align: center;
  }

  .icon {
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
  }

  img {
    width: 60px;
    margin-left: auto;
    margin-right: auto;
  }

  p {
    font-size: 16px;
    text-align: center;
  }

  input {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

}

.upload-file {
  width: 100%;

  &-box {
    background-color: #fff;
    padding: 5px;
    position: relative;
    margin-bottom: 15px;
    border: 2px dashed #ababab;
    display: flex;
    justify-content: center;
    align-items: center;

    .icon {
      text-align: center;
      margin-bottom: 10px;
      margin-right: 10px;

      img {
        width: 40px;
      }
    }

    p {
      font-size: 16px;
      text-align: center;
      margin-bottom: 0;
    }

    input {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
    }
  }

  .preview-img {
    position: relative;

    button {
      position: absolute;
      top: 5px;
      left: 5px;
      background: none;
      border: none;
      background-color: #ffffff;
      border-radius: 3px;
      color: #000;
      padding: 4px 15px;
      font-size: 15px;
      border: 2px solid #2c2c2c;
    }

    img {
      width: 100%;
      max-height: 400px;
      overflow: hidden;
      border-radius: 10px;
      object-fit: contain;
      background-color: #dceaf0;
    }
  }
}

.long-card {
  &__each {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    position: relative;
    height: 100%;

    .header {
      border-bottom: 1px solid #dceaf0;
      padding-top: 5px;

      ul {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin-bottom: 0;

        li {
          font-size: 1.2em;
          margin-right: 20px;
          margin-bottom: 10px;
          font-weight: 600;

          span {
            font-weight: 400;
          }

          a {
            color: #212121;
          }
        }

        .thumbnail {
          width: 40px;

          img {
            border-radius: 3px;
          }
        }
      }
    }

    .body {
      margin-bottom: 10px;
      margin-top: 10px;

      p {
        font-size: 1.2em;
        margin-bottom: 0;
      }

      ul {
        li {
          list-style: disc;
          margin-bottom: 5px;
          font-size: 1.2em;
          font-weight: 600;

          span {
            font-weight: 400;
          }
        }

        .thumbnail {
          width: 80px;
          border-radius: 5px;
        }

        .tags-each {
          span {
            background-color: #dceaf0;
            padding: 4px 12px;
            font-size: 16px;
            border-radius: 3px;
            margin-right: 5px;
          }
        }

      }
    }

    .time {
      display: flex;
      flex-wrap: wrap;

      p {
        font-size: 1em;

        &:not(:last-child) {
          margin-right: 20px;
          margin-bottom: 5px;
        }
      }
    }

    .action {
      position: absolute;
      top: 0;
      right: 0;
      background-color: #fff;
      padding: 12px;
      // width: 100px;
      border: 1px solid #dceaf0;
      border-radius: 0 0 0 25px;
      display: flex;
      justify-content: center;

      ul {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 0;
        margin: 0;

        li {
          cursor: pointer;
          margin-bottom: 5px;
          margin-right: 10px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

.text-cut {
  max-width: 500px;
  font-size: 14px;
}

.text-overflow {
  overflow: hidden;
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.details {
  .page-header {
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .back-btn {
      margin-right: 20px;

      button {
        background-color: white;
        border: none;
        padding: 5px 26px;
        border-radius: 25px;
        border: 1px solid #c9c9c9;

        &:hover {
          box-shadow: 1px 10px 20px #dceaf0;
        }

        i {
          margin-right: 2px;
        }
      }

      .route-btn {
        margin-left: 10px;
        background: #5393cc;
        color: #fff;
        border-color: #5393cc;
      }
    }

    .action {
      button {
        border: none;
        padding: 6px 12px;
        border-radius: 3px;
      }

      .accept-btn {
        background-color: #066d06;
        color: #fff;
        margin-right: 10px;
        transition: .3s;

        &:hover {
          background-color: #044c04;
        }
      }

      .reject-btn {
        background-color: #d00303;
        color: #fff;
        transition: .3s;

        &:hover {
          background-color: #960202;
        }
      }

      .verified-btn {
        background-color: #62a9e5;
        color: #fff;
        transition: .3s;

        &:hover {
          background-color: #3d7fb5;
        }
      }
    }

    @include breakpoint-max (320px) {
      flex-direction: column;

      .back-btn {
        margin-bottom: 10px;
        margin-right: 0;
      }
    }
  }

  &-banner {
    padding-top: 25px;

    .title {
      background: #fff;
      margin-bottom: 20px;
      padding: 16px;
      border-radius: 5px;
      display: flex;
      align-items: center;

      h2 {
        font-size: 18px;
        margin-bottom: 0;
        margin-right: 10px;
      }

      p {
        margin-bottom: 0;

        img {
          width: 20px;
        }
      }
    }

    .img-box,
    figure {
      background-size: cover;
      border-bottom: 1px solid #f2f2f2;
      position: relative;
      border-radius: 10px;
      cursor: pointer;

      img {
        width: 100%;
        height: auto;
        max-height: 450px;
        object-fit: contain;
        background-color: #fff;
        padding: 10px;
        border-radius: 16px;
      }
    }
  }

  &-content {
    padding-top: 25px;

    .title-2 {
      background-color: #dceaf0;
      padding: 20px 10px;
      border-radius: 5px;
      border: 1px solid #dceaf0;

      h3 {
        font-size: 1.2em;
        margin-bottom: 0;
        color: $primaryColor;
        font-weight: 700;
      }
    }

    h3 {
      font-size: 1.4em;
    }

    p {
      font-size: 16px;
      margin-bottom: 4px;
    }

    .details-list {
      display: flex;
      padding: 0;

      li {
        margin-right: 25px;
      }
    }

    .details-postion {
      background-color: #fff;
      padding: 10px;
      height: 100%;
    }

    .social-mdeia {
      margin: 20px 0;

      ul {
        border: 1px solid #dceaf0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 0;

        li {
          margin-right: 10px;
          cursor: pointer;
          transition: .3s;

          a {
            font-size: 14px;
            color: #383838;
            text-decoration: underline;
            background-color: #dceaf0;
            padding: 10px;
            font-size: 25px;
            border-radius: 5px;
          }
        }
      }
    }

    .contact-no {
      ul {
        li {
          a {
            color: #212121;
            text-decoration: none;

            &:hover {
              text-decoration: underline;
              color: #1a4c96;
            }
          }
        }
      }
    }

    .tag-list {
      margin-top: 10px;

      h3 {
        font-size: 15px;
      }


      ul {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 0;
        padding: 0;

        li {
          margin-right: 10px;
          background-color: #dceaf0;
          padding: 4px 12px;

          a {
            font-size: 14px;
            color: #212121;
          }
        }
      }
    }
  }
}

.sucess-blast {
  width: 100%;
  height: 100vh;

  .img {
    background-color: #ffffff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 100px;

    img {
      width: 100px;
      height: 100px;
    }
  }
}

.details-nested-box {
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  height: 250px;
  margin-bottom: 25px;

  h4 {
    font-size: 1.2em;
    margin-bottom: 10px;
    margin-top: 4px;
    color: #606060;
    font-weight: 600;
  }

  img {
    border: 1px solid #dceaf0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
    height: 160px;
  }

  .info,
  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
  }

  .title {
    justify-content: flex-start;

    .name {
      font-weight: 400;
      margin-left: 6px;
    }
  }
}

.location-dd {
  position: fixed;
  top: 16px;
  right: 150px;
  z-index: 999;

  .ant-select {
    width: 120px !important;
    height: 40px !important;
    cursor: pointer !important;
  }

  .ant-select-show-search.ant-select:not(.ant-select-customize-input) .ant-select-selector {
    cursor: text;
    border-radius: 5px !important;
    background: #dde9f0 !important;
  }

  .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    height: 40px !important;
  }

  .ant-select-single.ant-select-show-arrow .ant-select-selection-item,
  .ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder {
    margin-top: -4px !important;
  }
}

.header-date {
  position: fixed;
  top: 14px;
  right: 280px;
  z-index: 100;
}