<div class="container">
    <div class="header">
        <div class="form-group">
            <label for="user">User</label>
            <select id="user" [(ngModel)]="selectedUser" (change)="onUserChange()">
                <option *ngFor="let user of users" [value]="user.id">{{ user.firstName + ' ' + user.lastName }}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="requisition">Sales Requisition</label>
            <select id="requisition" class="dropdown" [(ngModel)]="selectedRequisition" (change)="onRequisitionSelection()">
                <option *ngFor="let requisition of salesRequisition" [value]="requisition.id">{{ requisition.requisitionSerial }}</option>
            </select>
        </div>
    </div>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Requisition qty</th>
                    <th>Invoice Qty</th>
                    <th>Price</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let requisition of requisitionDetailsList">
                    <td>{{ requisition.finishedGoodName }}</td>
                    <td>{{ requisition.quantity }}</td>
                    <td><input type="number" [(ngModel)]="invoiceDetail.quantity"></td>
                    <td>{{ requisition.price }}</td>
                    <td><input type="number" [value]="requisition.price*invoiceDetail.quantity" [(ngModel)]="invoiceDetail.price"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="submit-button">
        <button type="button" (click)="submitInvoice()">Submit</button>
    </div>
</div>

<!-- <div>
            
    <modal *ngIf="collectionModal" >
        <div class="modal-header">
            <h5 class="modal-title">Collect Amount</h5>
            <button type="button" class="btn-close" (click)="closeModal()"></button>
        </div>
        <div class="modal-body">
            <form (ngSubmit)="onSubmit()" [formGroup]="createCollectionForm">
                <div class="form-group pt-3">
                    <div class="input-field" [class.error]="createCollectionForm.controls['firstName'].dirty && createUserForm.hasError('required','firstName')"> 
                        <span class="fa fa-user p-2"></span> 
                        <input formControlName="firstName" type="text" placeholder="First Name"> </div>
                </div>
                <small *ngIf="createCollectionForm.controls['firstName'].dirty && createCollectionForm.hasError('required','firstName')" class="text-danger">*First Name is required*</small>
                <button *ngIf="!submitting" type="submit" class="btn btn-primary btn-block mt-4 w-100">Submit</button>
                <button type="button" class="btn btn-primary" *ngIf="submitting">
                    <i class="fas fa-spinner fa-pulse"></i>
                </button>
            </form>
        </div>
    </modal>
    
 
</div> -->
