<div class="header">
    <nz-select [(ngModel)]="selectedUserGroup" nzShowSearch nzDropdownClassName="select-dropdown"
        nzPlaceHolder="Select User Group" (ngModelChange)="onUserGroupChange()">
        <nz-option [nzValue]="data.id" *ngFor="let data of userTypes" nzLabel={{data.typeName}}></nz-option>
    </nz-select>

    <nz-select [(ngModel)]="selectedUser" nzShowSearch nzDropdownClassName="select-dropdown"
        nzPlaceHolder="Select User's Name" (ngModelChange)="onUserChange()">
        <nz-option [nzValue]="data.id" *ngFor="let data of users" nzLabel="{{ data.firstName + ' ' + data.lastName }}"></nz-option>
    </nz-select>

    <nz-select [(ngModel)]="selectedRequisition" nzShowSearch nzDropdownClassName="select-dropdown"
        nzPlaceHolder="Sales Requisition" (ngModelChange)="onRequisitionSelection()">
        <nz-option [nzValue]="data.id" *ngFor="let data of salesRequisition" nzLabel={{data.requisitionSerial}}></nz-option>
    </nz-select>

    
</div>
<table class="table-one mt-25">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Requisition qty</th>
            <th>Invoice Qty</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let requisition of requisitionDetailsList; let i = index">
            <td><span class="res-head">Product Name:</span>{{ requisition.finishedGoodName }}</td>
            <td><span class="res-head">Requisition Qty:</span>{{ requisition.quantity }}</td>
            <td><span class="res-head">Invoice Qty:</span><input type="number" [(ngModel)]="requisition.quantity"></td>
            <td><span class="res-head">Price:</span>{{ requisition.price }}</td>
            <td><span class="res-head">Total:</span><input type="number"
                    [value]="requisition.price * requisition.quantity"
                    [(ngModel)]="requisition.price * requisition.quantity"></td>
            <td>
                <input type="hidden" [(ngModel)]="requisition.finishedGoodsId" name="finishedGoodsId{{i}}">
            </td>
        </tr>
    </tbody>
</table>

<div class="submit-button" *ngIf="selectedUser != null && requisitionDetailsList.length > 0">
    <button type="button" (click)="submitInvoice()">Submit</button>
</div>