<div class="page-header">
    <div class="page-header__inner">
        <div class="search-area">
            <input type="text" class="form-control" placeholder="search by name ..." [(ngModel)]="nameSearch"
              (input)="getProductTypes()">
            <button><img src="assets/images/icons/search.svg" alt=""></button>
        </div>
        <button class="main-btn" (click)="openTypeModal()">Create Product Type</button>
    </div>
</div>

<div class="table-responsive">
    <table class="table-one mt-10">
        <thead>
            <tr>
                <th class="s-col">#</th>
                <th>Name</th>
                <th>Creation Time</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of productTypes; let i= index">
                <td><span class="res-head">Id:</span>{{i+1}}</td>
                <td><span class="res-head">Name:</span>{{item.name}}</td>
                <td><span class="res-head">Created On:</span>{{item.createdOn | date: 'medium'}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="pagination-area">
    <h4>Total: 41</h4>
    <nz-pagination [nzPageIndex]="1" [nzTotal]="50"></nz-pagination>
</div>

<nz-modal [(nzVisible)]="createModal">
    <ng-container *nzModalContent>
        <div class="modal-header">
            <h2>Create Product Type</h2>
            <button (click)="closeModal()"><img src="assets/images/icons/close.svg" alt=""></button>
        </div>
        <div class="modal-body">
            <form nz-form (ngSubmit)="onSubmit()" [formGroup]="createProductTypeForm" class="custom-form">
                <nz-form-item>
                    <nz-form-control nzHasFeedback>
                        <input nz-input formControlName="name" placeholder="Enter name" />
                        <div
                            *ngIf="createProductTypeForm.get('name')?.dirty && createProductTypeForm.get('name')?.errors">
                            Enter name plaese
                        </div>
                    </nz-form-control>
                </nz-form-item>
            </form>
        </div>
        <div class="modal-footer">
            <button class="cancel-btn" (click)="closeModal()">Cancel</button>
            <button class="add-btn" (click)="onSubmit()">Create</button>
        </div>
    </ng-container>
</nz-modal>