@use "variables" as *;
@use "mixins" as *;

.sidebar {
    // background: linear-gradient(50deg, #2E3192 49%, #1BFFFF 100%);
    // background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
    // background: linear-gradient(135deg, #43cea2 0%, #185a9d 100%);

    // background: linear-gradient(135deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);

    // background: linear-gradient(135deg, #4facfe 0%, #00f2fe 100%);
    // background: linear-gradient(135deg, #f12711 0%, #f5af19 100%);
    // background: linear-gradient(135deg, #41295a 0%, #2f0743 100%);
    // background: linear-gradient(135deg, #6ee7b7 0%, #3b82f6 100%);


    background: linear-gradient(329deg, #307a62 0%, #185a9d 100%);
    width: $sidebarWidth;
    position: fixed;
    top: 0;
    transition: 0.3s;
    z-index: 10;

    &__active {
        width: 90px;
        padding: 0;
    }

    @include breakpoint-max(991px) {
        width: 0;
        position: fixed;
        z-index: 999;
        padding: 0;
        transition: .1s ease-in;

        .sidebar-inner {
            padding: 0;
        }

        &__activeMobile {
            width: 100% !important;
            position: fixed;
            z-index: 999;

            .sidebar-inner {
                padding: 30px;
            }
        }
    }

    &-inner {
        position: relative;
        overflow: overlay;
        height: 100vh;
        padding: 30px;

        &:hover {
            &::-webkit-scrollbar-thumb {
                background: #43cea2;
            }
        }

        &::-webkit-scrollbar {
            width: 8px;
        }

        &::-webkit-scrollbar-thumb {
            background: transparent;
            border-radius: 10px;

            &:hover {
                background-color: #43cea2;
            }
        }

        &::-webkit-scrollbar-track {
            background: transparent;
        }

        .logo {
            overflow: hidden;
            position: relative;
            position: fixed;
            top: 0;
            width: 300px;
            left: 0;
            right: 0;
            z-index: 1;
            background: linear-gradient(308deg, #1e638d -20%, #185a9d 80%);
            border-bottom: 1px solid #4c7192;
            margin-bottom: 10px;

            h3 {
                font-size: 20px;
                font-weight: 700;
                text-align: center;
                text-transform: uppercase;
                color: #fff;
                padding: 15px;
                margin: auto 0 0 20px;

                display: flex;
                align-items: center;

                img {
                    width: 60px;
                    margin-right: 10px;
                    border-radius: 3px;
                }

                span {
                    font-size: 18px;
                }
            }

            figure {
                padding-top: 20px;
                position: fixed;
                top: 0;
                width: 90px;
                left: 0;
                right: 0;
                height: 60px;
                z-index: 1;
                background-color: #1c5e94;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    width: 80px;
                    height: 50px;
                    border-radius: 5px;
                }
            }

            @include breakpoint-max(991px) {
                display: none;
            }
        }

        .logo-mobile {
            display: none;
            border-bottom: 1px solid #2c4079;
            padding-bottom: 30px;

            @include breakpoint-max (991px) {
                display: block;
            }

            &__inner {
                display: flex;
                align-items: center;

                figure {
                    width: 40px;
                    margin-right: 10px;
                    margin-bottom: 0;
                }

                h3 {
                    font-size: 1.5em;
                    color: #fff;
                    margin-bottom: 0;
                }
            }
        }

        &__menu {
            margin-top: 50px;

            @include breakpoint-max (991px) {
                margin-top: 25px;
            }

            .close-btn {
                position: absolute;
                top: 30px;
                right: 30px;
                background: none;
                border: none;
                color: #fff;
                font-size: 30px;
                display: none;
                width: 45px;

                @include breakpoint-max(991px) {
                    display: block;
                }
            }

            .nav {
                h4 {
                    span {
                        color: #979baf;
                        margin-bottom: 1em;
                        padding-top: 10px;
                    }

                    img {
                        display: none;
                    }
                }

                &-item {
                    width: 100%;
                    cursor: pointer;
                    margin-bottom: 20px;
                    position: relative;
                    overflow: hidden;

                    &__list {
                        display: flex;
                        align-items: center;
                        margin-bottom: 10px;

                        &:last-child {
                            margin-bottom: 0;
                        }

                        i {
                            color: #dfdddd;
                            font-size: 15px;
                            vertical-align: -2px;
                        }

                        .left-icon {
                            img {
                                width: 24px;
                                height: 24px;
                            }
                        }

                        .right-icon {
                            img {
                                width: 28px;
                                height: 28px;
                            }
                        }

                        .drop-icon {
                            img {
                                width: 16px !important;
                                height: 16px !important;
                                position: relative;
                                right: 5px;
                            }
                        }

                        .left-icon {
                            margin-right: 10px;
                        }

                        span {
                            color: #fff;
                            font-size: 15px;
                        }

                        .right-icon {
                            position: absolute;
                            right: 10px;

                            i {
                                vertical-align: 2px;
                                color: #afafaf;
                            }
                        }
                    }

                    &.dropdown-item {
                        margin-bottom: 10px;
                    }
                }

                .dropdown-area {
                    &:not(.show) {
                        height: 0;
                    }

                    li {
                        font-size: 1em;
                        padding-left: 28px;
                        color: #afafaf;
                        margin-bottom: 10px;
                        position: relative;
                        transition: 0.3s;
                        cursor: pointer;
                        min-width: 100px;
                        width: max-content;

                        &:last-child {
                            margin-bottom: 0;
                        }

                        &::before {
                            content: "";
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            left: 0;
                            width: 10px;
                            height: 1px;
                            background-color: #afafaf;
                        }

                        &:hover {
                            color: #fff;
                        }

                        &:hover::before {
                            background-color: #fff;
                        }
                    }
                }
            }
        }
    }

    &-mini {
        position: absolute;
        min-height: 100vh;
        height: auto;

        .sidebar__footer {
            height: 100%;
            background-color: #173753;
        }

        .sidebar-inner {
            // overflow: initial;
            overflow-y: overlay;
            overflow-x: hidden;
            padding: 0;

            .logo {
                border-bottom: 0;
                width: 90px;

                h3 {
                    display: none;
                }
            }

            &__menu {
                margin-top: 90px;
                overflow: initial;
                height: 100%;

                .nav {
                    h4 {
                        width: 100%;

                        span {
                            display: none;
                        }

                        img {
                            display: block;
                            width: 20px;
                            margin-left: auto;
                            margin-right: auto;
                            filter: brightness(0) saturate(97%) invert(70%) sepia(10%) saturate(800%) hue-rotate(148deg) brightness(78%) contrast(42%);
                        }
                    }

                    &-item {
                        display: flex;
                        justify-content: center;
                        overflow: initial;

                        &__list {
                            width: 100%;
                            display: flex;
                            justify-content: center;

                            .left-icon {
                                margin-right: 0;

                                i {
                                    font-size: 20px;
                                }
                            }

                            span {
                                display: none;
                            }

                            .right-icon {
                                display: none;
                            }
                        }

                        .dropdown-area {
                            position: absolute;
                            background: linear-gradient(329deg, #307a62 0%, #185a9d 100%);
                            left: 90px;
                            top: 0;
                            padding: 16px 20px 16px 10px;
                            border-radius: 0 10px 10px 0;
                            display: none;
                            transition: 0.3s;
                            border-left: 1px solid #4c7192;
                            z-index: 999 !important;
                            width: 200px;

                            &:not(.show) {
                                height: auto;
                            }
                        }
                    }
                }

                .drop {
                    span {
                        opacity: 0;
                        pointer-events: none;
                    }
                }
            }
        }
    }
}

.active {
    color: #fff !important;

    .nav-item__list {

        .left-icon {
            img {
                width: 24px;
                height: 24px;
            }
        }

        .right-icon {
            img {
                width: 28px;
                height: 28px;
            }
        }

        span {
            color: #d7fffd;
        }
    }
}

.show {
    // background: #18264f;
    background: linear-gradient(1deg, #3e92aa -19%, #083049 78%);
    padding: 20px;
    padding: 20px;
    border-radius: 3px;
}