
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
    </div>

    <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
        <div class="panel border bg-whit" style="text-align: center;align-content: center">
            <h2>Welcome to Talukdar Sales Project!</h2>
        </div>
    </div>

    <div class="container">
        <div class="row">
          <!-- First and Second Lists -->
          <div class="col">
            <div class="list-container">
              <h3>Top 5 Sellers</h3>
              <div class="table-responsive">
                <table class="table table-striped table-sm">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Name</th>
                      <th scope="col">Amount</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let seller of topFiveSeller; let i = index">
                      <td>{{ i + 1 }}</td>
                      <td>{{ seller.userName }}</td>
                      <td>{{ seller.totalAmount }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="list-container">
              <h3>Top 5 Selling Products</h3>
              <div class="table-responsive">
                <table class="table table-striped table-sm">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Product</th>
                      <th scope="col">Sales</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let product of topFiveSellingProduct; let i = index">
                      <td>{{ i + 1 }}</td>
                      <td>{{ product.finishGoodName }}</td>
                      <td>{{ product.quantity }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
      
          <!-- Third and Fourth Lists -->
          <div class="col">
            <div class="list-container">
              <h3>Less 5 Selling Products</h3>
              <div class="table-responsive">
                <table class="table table-striped table-sm">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Product</th>
                      <th scope="col">Sales</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let product of lessFiveSellingProduct; let i = index">
                      <td>{{ i + 1 }}</td>
                      <td>{{ product.finishGoodName }}</td>
                      <td>{{ product.quantity }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="list-container">
              <h3>Top 5 Sellers with Due Amount</h3>
              <div class="table-responsive">
                <table class="table table-striped table-sm">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Name</th>
                      <th scope="col">Due Amount</th>
                      <th scope="col">Phone Number</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let seller of topFiveSellerWithDueAmount; let i = index">
                      <td>{{ i + 1 }}</td>
                      <td>{{ seller.firstName + " " + seller.lastName }}</td>
                      <td>{{ seller.dueAmount }}</td>
                      <td>{{ seller.phoneNumber }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      
        <!-- New row for the fifth list -->
        <div class="row">
          <div class="col">
            <div class="list-container">
              <h3>Day Accumulated order Summary</h3>
              <div class="table-responsive">
                <table class="table table-striped table-sm">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Order Date</th>
                      <th scope="col">Product Name</th>
                      <th scope="col">Total Quantity</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let product of dailyAccumulatedOrderSummary; let i = index">
                      <td>{{ i + 1 }}</td>
                      <td>{{ product.requisitionDate }}</td>
                      <td>{{ product.finishedGoodName }}</td>
                      <td>{{ product.totalQuantity }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      
