<div class="page-header">
    <div class="page-header__inner">
        <div class="search-area">
            <input type="text" class="form-control" placeholder="Search user by Name..." [(ngModel)]="nameSearch"
              (input)="getUsers()">
            <button><img src="assets/images/icons/search.svg" alt=""></button>
        </div>
        <div class="each-data">
            <nz-select [(ngModel)]="selectedUserType" nzShowSearch nzDropdownClassName="select-dropdown"
                nzPlaceHolder="User Group" (ngModelChange)="getUsers()">
                <nz-option [nzValue]="data.id" *ngFor="let data of userTypes" nzLabel={{data.typeName}}></nz-option>
            </nz-select>
        </div>
        <button class="main-btn" (click)="openUserModal()">Create User</button>
    </div>
</div>

<!-- User Card -->
<div class="user-card mt-25">
    <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-6 mb-25" *ngFor="let item of users">
            <a (click)="openUserEditModal(item)"><i class="fa fa-edit"></i></a>
            <div class="user-card__each">
                <div class="thumb">
                    <img src="{{baseUrl}}/images/users/{{item.imageName}}" alt="User Profile" onerror="this.src = 'assets/images/no-user.jpeg'">
                </div>
                <div class="info">
                    <h3>{{item.firstName}} {{item.lastName}}</h3>
                    <p>{{ item.phoneNumber }}</p>
                    <p>{{ item.userTypeName }}</p>
                </div>
                <div class="data">
                    <ul>
                        <li>
                            <h4>{{item.maxCreditLimit}}</h4>
                            <p>Max Credit</p>
                        </li>
                        <li>
                            <h4>{{item.dueAmount}}</h4>
                            <p>Due Amount</p>
                        </li>
                    </ul>
                </div>
                <div class="btn-area">
                    <button class="main-btn">View Profile</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- User Card -->


<!-- New Modal -->
<nz-modal [(nzVisible)]="createModal">
    <ng-container *nzModalContent>
        <div class="modal-header">
            <h2>Create User</h2>
            <button (click)="closeModal()"><img src="assets/images/icons/close.svg" alt=""></button>
        </div>
        <div class="modal-body">
            <form nz-form (ngSubmit)="onSubmit()" [formGroup]="createUserForm" class="custom-form">
                <nz-form-item>
                    <nz-form-control nzHasFeedback>
                        <input nz-input formControlName="firstName" placeholder="Enter first name" />
                        <div *ngIf="createUserForm.get('firstName')?.dirty && createUserForm.get('firstName')?.errors">
                            Enter first name plaese
                        </div>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-control nzHasFeedback>
                        <input nz-input formControlName="lastName" placeholder="Enter last name" />
                        <div *ngIf="createUserForm.get('lastName')?.dirty && createUserForm.get('lastName')?.errors">
                            Enter last name plaese
                        </div>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-control>
                        <nz-select nzDropdownClassName="select-dropdown" formControlName="roleId"
                            nzPlaceHolder="Select User Role">
                            <nz-option *ngFor="let role of roles" [nzValue]="role.id" [nzLabel]="role.name">
                            </nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-control>
                        <nz-select nzDropdownClassName="select-dropdown" formControlName="userTypeId"
                            nzPlaceHolder="Select User Type">
                            <nz-option *ngFor="let type of userTypes" [nzValue]="type.id" [nzLabel]="type.typeName">
                            </nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-control nzHasFeedback>
                        <input nz-input formControlName="phoneNumber" placeholder="Enter Phone Number" />
                        <div
                            *ngIf="createUserForm.get('phoneNumber')?.dirty && createUserForm.get('phoneNumber')?.errors">
                            Phone Number is Required
                        </div>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-control nzHasFeedback>
                        <input nz-input type="number" formControlName="maxCreditLimit"
                            placeholder="Enter Max CreditLimit" />
                        <div
                            *ngIf="createUserForm.get('maxCreditLimit')?.dirty && createUserForm.get('maxCreditLimit')?.errors">
                            Max CreditLimit is Required
                        </div>
                    </nz-form-control>
                </nz-form-item>

                <div class="upload-file">
                    <div class="upload-file-box" [ngClass]="{'d-none': imageUrl}">
                        <div class="icon">
                            <img src="assets/images/icons/upload.svg" alt="">
                        </div>
                        <p *ngIf="imageUrl == null">Upload Thumbnail (PNG/JPG)</p>
                        <input type="file" formControlName="image" accept=".jpg,.png,.jpeg"
                            (change)="onFileChange($event)">
                    </div>
                    <div class="preview-img" *ngIf="imageUrl">
                        <img [src]="imageUrl" alt="Thumbnail preview">
                        <button (click)="changeImage()">Change</button>
                    </div>
                </div>

            </form>
        </div>
        <div class="modal-footer">
            <button class="cancel-btn" (click)="closeModal()">Cancel</button>
            <button class="add-btn" (click)="onSubmit()">Create</button>
        </div>
    </ng-container>
</nz-modal>


<nz-modal [(nzVisible)]="updateModal">
    <ng-container *nzModalContent>
        <div class="modal-header">
            <h2>Edit User</h2>
            <button (click)="closeModal()"><img src="assets/images/icons/close.svg" alt=""></button>
        </div>
        <div class="modal-body">
            <form nz-form (ngSubmit)="updateUser()" [formGroup]="updateUserForm" class="custom-form">
                <nz-form-item>
                    <nz-form-control nzHasFeedback>
                        <input nz-input formControlName="firstName" placeholder="Enter first name" />
                        <div *ngIf="updateUserForm.get('firstName')?.dirty && updateUserForm.get('firstName')?.errors">
                            Enter first name plaese
                        </div>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-control nzHasFeedback>
                        <input nz-input formControlName="lastName" placeholder="Enter last name" />
                        <div *ngIf="updateUserForm.get('lastName')?.dirty && updateUserForm.get('lastName')?.errors">
                            Enter last name plaese
                        </div>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-control nzHasFeedback>
                        <input nz-input type="number" formControlName="maxCreditLimit"
                            placeholder="Enter Max CreditLimit" />
                        <div
                            *ngIf="updateUserForm.get('maxCreditLimit')?.dirty && updateUserForm.get('maxCreditLimit')?.errors">
                            Max CreditLimit is Required
                        </div>
                    </nz-form-control>
                </nz-form-item>

                <!-- <div class="upload-file">
                    <div class="upload-file-box" [ngClass]="{'d-none': imageUrl}">
                        <div class="icon">
                            <img src="assets/images/icons/upload.svg" alt="">
                        </div>
                        <p *ngIf="imageUrl == null">Upload Thumbnail (PNG/JPG)</p>
                        <input type="file" formControlName="image" accept=".jpg,.png,.jpeg"
                            (change)="onFileChange($event)">
                    </div>
                    <div class="preview-img" *ngIf="imageUrl">
                        <img [src]="imageUrl" alt="Thumbnail preview">
                        <button (click)="changeImage()">Change</button>
                    </div>
                </div> -->

            </form>
        </div>
        <div class="modal-footer">
            <button class="cancel-btn" (click)="closeModal()">Cancel</button>
            <button class="add-btn" (click)="updateUser()">Update</button>
        </div>
    </ng-container>
</nz-modal>