<div class="sales-requisitions">
    <div class="sales-requisitions">
      <div class="filters">
        <div class="filter">
          <label for="user">User</label>
          <select id="user" [(ngModel)]="selectedUser" (change)="onFilterChange()">
            <option *ngFor="let user of users" [value]="user.id">{{ user.firstName +" "+ user.lastName }}</option>
          </select>
        </div>
      </div>
      <div class="table-responsive">
          <table class="requisitions-table">
              <thead>
                  <tr>
                      <th scope="col">#</th>
                      <th scope="col">Invoice For</th>
                      <th scope="col">Requisition Serial</th>
                      <th scope="col">Total Amount</th>
                      <th scope="col">Collection Amount</th>
                      <th scope="col">Creation Time</th>
                      <th scope="col">Action</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let invoice of invoiceList; let i= index">
                      <td>{{i+1}}</td>
                      <td>{{invoice.userName}}</td>
                      <td>{{invoice.salesRequisitionNo}}</td>
                      <td>{{invoice.totalPrice}}</td>
                      <td>{{invoice.collectionAmount}}</td>
                      <td>{{invoice.createdDateTime}}</td>
                      <td>
                        <tr>
                            <td><button>Collection History</button></td>
                            <td><button>Collect Amount</button></td>
                        </tr>
                      <td>
                  </tr>
      
              </tbody>
          </table>
      </div>
    </div>
    