<table class="table-one mt-25">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Requisition Date</th>
            <th scope="col">Product Name</th>
            <th scope="col">Total Quantity</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of productList; let i= index">
            <td>{{i+1}}</td>
            <td>{{product.requisitionDate}}</td>
            <td>{{product.finishedGoodName}}</td>
            <td>{{product.totalQuantity}}</td>
        </tr>
    </tbody>
</table>