<button class="main-btn" (click)="openModal()">File Upload</button>
<div class="table-responsive">
    <table class="table-one mt-25">
        <thead>
            <tr>
                <th class="s-col">Id</th>
                <th class="s-col">User</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>User Name</th>
                <th>Description</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of tableData">
                <td><span class="res-head">Id:</span>{{item.id}}</td>
                <td><span class="res-head">Id:</span><img nz-image nzSrc="{{item.thumb}}" alt="" class="user-thumb"
                        onerror="this.src = 'assets/images/icons/default-user.jpg'"></td>
                <td><span class="res-head">First Name:</span>{{item.firstname}}</td>
                <td><span class="res-head">Last Name:</span>{{item.lastname}}</td>
                <td><span class="res-head">User Name:</span>{{item.username}}</td>
                <!-- Text Cut -->
                <td><span class="res-head">Description:</span>
                    <p class="td-text-cut">{{item.desc}}</p>
                </td>
                <td><span class="res-head">Phone:</span>{{item.phone}}</td>
                <td><span class="res-head">Email:</span>
                    {{item.email}}
                </td>
                <td class="action">
                    <button><img src="assets/images/icons/view.svg" alt=""></button>
                    <button><img src="assets/images/icons/edit.svg" alt=""></button>
                    <button><img src="assets/images/icons/delete.svg" alt=""></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="pagination-area">
    <h4>Total: 41</h4>
    <nz-pagination [nzPageIndex]="1" [nzTotal]="50"></nz-pagination>
</div>

<nz-modal [(nzVisible)]="demoModal">
    <ng-container *nzModalContent>
        <div class="modal-header">
            <h2>Create User</h2>
            <button (click)="closeModal()"><img src="assets/images/icons/close.svg" alt=""></button>
        </div>
        <div class="modal-body">
            <form nz-form class="custom-form">

                <nz-form-item>
                    <div class="upload-file">
                        <div class="upload-file-box" [ngClass]="{'d-none': imageUrl}">
                            <div class="icon">
                                <img src="assets/images/icons/upload.svg" alt="">
                            </div>
                            <p [hidden]="isEdit && imageUrl == null">Upload Thumbnail (PNG/JPG)</p>
                            <p *ngIf="isEdit && imageUrl == null">Change Thumbnail (PNG/JPG)</p>
                            <input type="file" formControlName="thumbnail" accept=".jpg,.png,.jpeg">
                        </div>
                        <div class="preview-img" *ngIf="imageUrl">
                            <img *ngIf="imageUrl" [src]="imageUrl" alt="Thumbnail preview">
                            <button *ngIf="imageUrl" (click)="ChangeImage()">Change</button>
                        </div>
                        <div class="preview-img" *ngIf="isEdit && imageUrl == null">
                            <img src="" />
                        </div>
                    </div>
                </nz-form-item>


                <nz-form-item>
                    <nz-form-control nzHasFeedback>
                        <input nz-input formControlName="firstName" placeholder="Enter first name" />
                    </nz-form-control>
                </nz-form-item>
            </form>
        </div>
        <div class="modal-footer">
            <button class="cancel-btn" (click)="closeModal()">Cancel</button>
            <button class="add-btn" (click)="closeModal()">Create</button>
        </div>
    </ng-container>
</nz-modal>