<div class="sidebar" [ngClass]="{
    'sidebar__activeMobile': isSidebarMobile,
    'sidebar__active sidebar-mini': isSidebar,
  }">
    <div class="sidebar-inner">
        <div class="logo">
            <h3 style="cursor: pointer;" routerLinkActive="active" (click)="goToPage('/')"
                [ngClass]="{ active: isActive('/') }">
                <img src="assets/images/logo.jpeg" alt="" />
                <span>Talukder Foods</span>
            </h3>
            <figure *ngIf="isSidebar">
                <img src="assets/images/logo.jpeg" alt="" />
            </figure>
        </div>
        <div class="logo-mobile" (click)="goToPage('/')">
            <div class="logo-mobile__inner">
                <figure>
                    <img src="assets/images/logo-small.jpg" alt="" />
                </figure>
                <h3>Talukder Foods</h3>
            </div>
        </div>
        <div class="sidebar-inner__menu">
            <button class="close-btn" (click)="closeSidebar()">
                <!-- <h3>Close</h3> -->
                <img src="assets/images/icons/close.svg" alt="">
            </button>
            <ul class="nav">
                <li class="nav-item dropdown-item" (click)="openSidebarFromMini()">
                    <div class="nav-item__list" (click)="expandDropdown($event)">
                        <div class="left-icon">
                            <img src="assets/images/icons/user.svg" alt="">
                        </div>
                        <span>User Administration </span>
                        <div class="right-icon drop-icon">
                            <img src="assets/images/icons/arrow-down.svg" alt="">
                        </div>
                    </div>
                    <ul class="dropdown-area" [ngClass]="{'show': isActive('/user-management') || isActive('/role')}">
                        <!-- <li class="mobile-title">User Administration</li> -->
                        <li class="nav-item" (click)="goToPage('/user-management')"
                            [ngClass]="{'active': isActive('/user-management')}">
                            <div class="nav-item__list">
                                <span>User Management</span>
                            </div>
                        </li>
                        <li class="nav-item" (click)="goToPage('/role')" [ngClass]="{'active': isActive('/role')}">
                            <div class="nav-item__list">
                                <span>Role Management</span>
                            </div>
                        </li>
                    </ul>
                </li>

                <!-- <li class="nav-item" (click)="goToPage('/role')" [ngClass]="{'active': isActive('/role')}">
                    <div class="nav-item__list">
                        <div class="left-icon">
                            <img src="assets/images/icons/role.svg" alt="">
                        </div>
                        <span>Role Management</span>
                        <div class="right-icon">
                            <img src="assets/images/right-arrow.svg" alt="">
                        </div>
                    </div>
                </li> -->
                <!-- <li class="nav-item" (click)="goToPage('/product')" [ngClass]="{'active': isActive('/product')}">
                    <div class="nav-item__list">
                        <div class="left-icon">
                            <img src="assets/images/icons/product-setup.svg" alt="">
                        </div>
                        <span>Product Setup</span>
                        <div class="right-icon">
                            <img src="assets/images/right-arrow.svg" alt="">
                        </div>
                    </div>
                </li> -->



                <li class="nav-item dropdown-item" (click)="openSidebarFromMini()">
                    <div class="nav-item__list" (click)="expandDropdown($event)">
                        <div class="left-icon">
                            <img src="assets/images/icons/requisition.svg" alt="">
                        </div>
                        <span>Sales Requisition </span>
                        <div class="right-icon drop-icon">
                            <img src="assets/images/icons/arrow-down.svg" alt="">
                        </div>
                    </div>
                    <ul class="dropdown-area"
                        [ngClass]="{'show': isActive('/sales-requisition') || isActive('/requisition-list')}">
                        <li class="nav-item" (click)="goToPage('/sales-requisition')"
                            [ngClass]="{'active': isActive('/sales-requisition')}">
                            <div class="nav-item__list">
                                <span>Requisition Form</span>
                            </div>
                        </li>
                        <li class="nav-item" (click)="goToPage('/requisition-list')"
                            [ngClass]="{'active': isActive('/requisition-list')}">
                            <div class="nav-item__list">
                                <span>Requisition List</span>
                            </div>
                        </li>
                    </ul>
                </li>

                <li class="nav-item dropdown-item" (click)="openSidebarFromMini()">
                    <div class="nav-item__list" (click)="expandDropdown($event)">
                        <div class="left-icon">
                            <img src="assets/images/icons/invoice.svg" alt="">
                        </div>
                        <span>Sales Invoice </span>
                        <div class="right-icon drop-icon">
                            <img src="assets/images/icons/arrow-down.svg" alt="">
                        </div>
                    </div>
                    <ul class="dropdown-area"
                        [ngClass]="{'show': isActive('/sales-invoice') || isActive('/invoice-list')}">
                        <li class="nav-item" (click)="goToPage('/sales-invoice')"
                            [ngClass]="{'active': isActive('/sales-invoice')}">
                            <div class="nav-item__list">
                                <span>Invoice Form</span>
                            </div>
                        </li>
                        <li class="nav-item" (click)="goToPage('/invoice-list')"
                            [ngClass]="{'active': isActive('/invoice-list')}">
                            <div class="nav-item__list">
                                <span>Invoice List</span>
                            </div>
                        </li>
                    </ul>
                </li>
                <!-- <li class="nav-item" (click)="goToPage('/sales-requisition')"
                    [ngClass]="{'active': isActive('/sales-requisition')}">
                    <div class="nav-item__list">
                        <div class="left-icon">
                            <img src="assets/images/icons/requisition.svg" alt="">
                        </div>
                        <span>Sales Requisition</span>
                        <div class="right-icon">
                            <img src="assets/images/right-arrow.svg" alt="">
                        </div>
                    </div>
                </li> -->
                <!-- <li class="nav-item" (click)="goToPage('/requisition-list')"
                    [ngClass]="{'active': isActive('/requisition-list')}">
                    <div class="nav-item__list">
                        <div class="left-icon">
                            <img src="assets/images/icons/requisition-list.svg" alt="">
                        </div>
                        <span>Sales Invoice </span>
                        <div class="right-icon drop-icon">
                            <img src="assets/images/icons/arrow-down.svg" alt="">
                        </div>
                    </div>
                    <ul class="dropdown-area">
                        <li class="mobile-title">Sales Invoice</li>
                        <li class="nav-item" (click)="goToPage('/sales-invoice')"
                            [ngClass]="{'active': isActive('/sales-invoice')}">
                            <div class="nav-item__list">
                                <span>Invoice Form</span>
                            </div>
                        </li>
                    </ul>
                </li> -->
                <li class="nav-item" (click)="goToPage('collection-history/')"
                    [ngClass]="{'active': isActive('collection-history/')}">
                    <div class="nav-item__list">
                        <div class="left-icon">
                            <img src="assets/images/icons/collection-history.svg" alt="">
                        </div>
                        <span>Collection History</span>
                        <div class="right-icon">
                            <img src="assets/images/right-arrow.svg" alt="">
                        </div>
                    </div>
                </li>
                <li class="nav-item" (click)="goToPage('/productionwise-requisition')"
                    [ngClass]="{'active': isActive('/productionwise-requisition')}">
                    <div class="nav-item__list">
                        <div class="left-icon">
                            <img src="assets/images/icons/production.svg" alt="">
                        </div>
                        <span>Production Planning</span>
                        <div class="right-icon">
                            <img src="assets/images/right-arrow.svg" alt="">
                        </div>
                    </div>
                </li>
                <li class="nav-item" (click)="goToPage('/notice')" [ngClass]="{'active': isActive('/notice')}">
                    <div class="nav-item__list">
                        <div class="left-icon">
                            <img src="assets/images/icons/notice.svg" alt="">
                        </div>
                        <span>Notices</span>
                        <div class="right-icon">
                            <img src="assets/images/right-arrow.svg" alt="">
                        </div>
                    </div>
                </li>
                <li class="nav-item" (click)="goToPage('/report')" [ngClass]="{'active': isActive('/report')}">
                    <div class="nav-item__list">
                        <div class="left-icon">
                            <img src="assets/images/icons/invoice-list.svg" alt="">
                        </div>
                        <span>Reports</span>
                        <div class="right-icon">
                            <img src="assets/images/right-arrow.svg" alt="">
                        </div>
                    </div>
                </li>
                <!-- <li class="nav-item" (click)="goToPage('/time-setting')" [ngClass]="{'active': isActive('/time-setting')}">
                    <div class="nav-item__list">
                        <div class="left-icon">
                            <img src="assets/images/icons/time.svg" alt="">
                        </div>
                        <span>Time Setting</span>
                        <div class="right-icon">
                            <img src="assets/images/right-arrow.svg" alt="">
                        </div>
                    </div>
                </li> -->
                <li class="nav-item dropdown-item" (click)="openSidebarFromMini()">
                    <div class="nav-item__list" (click)="expandDropdown($event)">
                        <div class="left-icon">
                            <img src="assets/images/icons/settings.svg" alt="">
                        </div>
                        <span>Settings</span>
                        <div class="right-icon drop-icon">
                            <img src="assets/images/icons/arrow-down.svg" alt="">
                        </div>
                    </div>
                    <ul class="dropdown-area"
                        [ngClass]="{'show': isActive('/product-type') || isActive('/product')|| isActive('/time-setting')}">
                        <li class="nav-item" (click)="goToPage('/product-type')"
                            [ngClass]="{'active': isActive('/product-type')}">
                            <div class="nav-item__list">
                                <span>Product Type Setup</span>
                            </div>
                        </li>
                        <li class="nav-item" (click)="goToPage('/product')"
                            [ngClass]="{'active': isActive('/product')}">
                            <div class="nav-item__list">
                                <span>Product Setup</span>
                            </div>
                        </li>
                        <li class="nav-item" (click)="goToPage('/time-setting')"
                            [ngClass]="{'active': isActive('/time-setting')}">
                            <div class="nav-item__list">
                                <span>Time Setting</span>
                            </div>
                        </li>

                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>