@use 'variables' as *;
@use 'mixins' as *;

.card-1 {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 20px 1px rgb(166 209 209 / 31%);
    height: 100%;
    overflow: hidden;
    cursor: pointer;

    .logo {
        margin-bottom: 10px;
        padding: 10px;
        height: 170px;
        background: #d3e8e8;

        img {
            border-radius: 5px;
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }

    .content {
        padding: 10px;

        h3 {
            font-size: 18px;
            margin-bottom: 10px;
        }

        .desc {
            display: inline;
            -webkit-line-clamp: 3;
            text-overflow: ellipsis;
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            word-wrap: break-word;
            font-size: 17px;
            margin-bottom: 10px;
        }

        .time {
            padding-top: 5px;
            border-top: 1px solid #d3e8e8;

            p {
                font-size: 15px;
                margin-bottom: 0;
            }
        }
    }
}

.card-details {
    .logo {
        background-color: #f4f5f6;
        margin-bottom: 16px;
        border-radius: 5px;

        img {
            width: 100%;
            max-height: 300px;
            padding: 10px;
            border-radius: 5px;
        }
    }

    h3 {
        font-size: 22px;
        margin-bottom: 10px;
    }

    p {
        font-size: 18px;
        margin-bottom: 10px;
    }
}