@use "variables" as *;
@use "mixins" as *;

.table-one {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: #eff7f8 0px 0px 24px 5px;
  border-radius: 5px;
  font-family: arial;
  border-radius: 5px;
  overflow: hidden;

  thead {
    tr {
      background-image: $themeGradient;

      th {
        padding: 10px 16px;
        text-align: center;
        overflow: hidden;
        color: #fff;
        min-width: 110px;

        &.s-col {
          min-width: auto;
        }

        &:first-child {
          border-radius: 5px 0 0 0;
        }

        &:last-child {
          display: flex;
          justify-content: flex-end;
          border-radius: 0 5px 0 0;
        }
      }
    }

  }

  tbody {
    tr {
      border-bottom: 1px solid #eee;

      &:last-child {
        td {
          &:first-child {
            border-radius: 0 0 0 5px;
          }
        }
      }

      td {
        padding: 10px 16px;
        text-align: center;
        // border-bottom: 1px solid #eee;

        &:last-child {
          display: flex;
          justify-content: flex-end;
          height: 64px;

          @include breakpoint-max (991px) {
            height: auto;
          }
        }

        img {
          width: 30px;
          height: 30px;
          border-radius: 5px;
        }
      }

      .action {
        display: flex;
        align-items: center;

        button {
          margin-right: 10px;
          cursor: pointer;
          border: none;
          background-color: transparent;
          padding: 0;
          width: 22px;
          height: 22px;

          &:last-child {
            margin-right: 0;
          }

          img {
            opacity: 0.8;
          }
        }
      }
    }
  }

  .res-head {
    display: none;
  }

  @media screen and (max-width: 767px) {
    background-color: transparent;
    box-shadow: none;

    thead {
      display: none;
    }

    tbody {
      tr {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 10px;
        background-color: #fff;
        padding: 10px;
        position: relative;
        background-color: #fff;
        box-shadow: rgb(185 188 191 / 20%) 0px 0px 24px 5px;

        td {
          display: flex;
          background-color: transparent;
          padding: 0;
          margin-bottom: 5px;
          margin-right: 16px;
          border: none;
          flex-wrap: wrap;

          .res-head {
            display: block;
            font-weight: 700;
            margin-right: 5px;
            text-align: center;
          }
        }

        .action {
          position: absolute;
          top: 10px;
          right: 10px;
        }

        .user-thumb {
          position: absolute;
          top: 10px;
          left: 10px;
        }
      }
    }
  }
}

.pagination-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
}

.td-text-cut {
  display: inline;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  font-size: 14px;
  margin-bottom: 0;
}